<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <script src="/lib/vue.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="main.css">
  </head>

  <body id="bg">
    <div id="app" class="flex" v-cloak>

      <div class="flex" v-if="isAuthenticated === true">
        <p class="title center">Admin Settings</p>
        <p class="center"><a class="button" href="index.html">Return to Main Page</a></p>

        <div class="margin"></div>

        <!-- export data -->
        <p class="small-title center">Creates a tar of all your posts, your global files, and your database.json for you to download</p>
        <button v-if="!exportedData && !exportInProgress" class="button small-button margin-center" @click="exportData()">Export Data</button>
        <button v-if="!exportedData && exportInProgress" class="button small-button margin-center">Your data is exporting! This may take a long time. Do not leave the page!</button>
        <a v-if="exportedData" 
            download="exported.tar" 
            :href="exportedData" 
            class="button small-button margin-center">
          Click here to download your exported data
        </a>

        <div class="margin"></div>

        <!-- change domain name -->
        <p class="small-title center">Attempts to replace all instances of a domain name with another one. It's literally just a string replacement method going through all your RSS posts, but intended for migrating over to a new domain. Please back up your data before trying this feature out!</p>
        <div>
          <label for="title" class="title">Old Domain</label>
          <input class="textbox" id="title" v-model="oldDomain">
        </div>
        <div>
          <label for="title" class="title">New Domain</label>
          <input class="textbox" id="title" v-model="newDomain">
        </div>
        <button v-if="oldDomain && newDomain" class="button small-button margin-center" @click="changeDomain()">Replace RSS Links with New Domains</button>

      </div>

      <div v-if="isAuthenticated === false" class="fourth flex-v">
        <p class="title center margin-center">You are not authorized to view this page</p>
      </div>

    </div>
  </body>

  <script type="module">
    Vue.createApp({
      data () {
        return {
          exportedData: "",
          oldDomain: "",
          newDomain: "",
          performAction: false,
          isAuthenticated: null,
          exportInProgress: false,
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
      },
      methods: {
        async exportData () {
          this.exportInProgress = true;
          // retrieve a zip of the user's data from the server
          const result = await axios.get("/api/export", {
            responseType: 'blob',
          });
          const url = window.URL.createObjectURL(
            new Blob([result.data])
          );
          this.exportedData = url;
          this.exportInProgress = false;
        },
        async changeDomain () {
          if (!this.performAction) {
            this.performAction = true;
          }
          await axios.post("/api/domain", {
            oldDomain: this.oldDomain,
            newDomain: this.newDomain,
          });
          window.location.href = '/index.html';
        }
      }
    }).mount('#app');

  </script>

  <style>
    #file-upload {
      display: none;
    }

    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button {
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      height: 30px;
      align-self: center;
      font-size: 20px;
    }

    .textbox {
      background: #1B2327;
    }

    .margin {
      margin-bottom: 25px;
    }

    .fourth {
      background: #273038;
    }

  </style>
</html>