<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Administrator Page</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg">
    <div id="app" class="flex" v-cloak>

      <main class="flex-v flex-center" v-if="isAuthenticated === true">
        <p class="title light text-xlarge">Admin Settings</p>
        <a class="button text-medium half" href="index.html">Return to Main Page</a>

        <div class="margin"></div>

        <!-- export data -->
        <p class="title light text-large">Creates a tar of all your posts, your traffic data, and your database.json for you to download</p>
        <button v-if="!exportedData && !exportInProgress" class="button text-medium half" @click="exportData()">Export Data</button>
        <button v-if="!exportedData && exportInProgress" class="button text-medium half">Your data is exporting! This may take a long time. Do not leave the page!</button>
        <a v-if="exportedData" 
            download="exported.tar" 
            :href="exportedData" 
            class="button text-medium half">
          Click here to download your exported data
        </a>

        <div class="margin"></div>

        <!-- import data -->
        <p class="title light text-large">Upload a tar from a previous export and fall back to a previous state of the server. THIS WILL WIPE YOUR CURRENT DATA!!!</p>
        <p class="title light text-large text-error">Also, should be obvious, but please do not upload some random person's tar file. Make sure it's your own exported tar.</p>
        <div v-if="!importInProgress" class="flex-center half">
          <label tabindex="0" role="button" @keydown.enter="$refs.importData.click()" for="file-upload" class="flex-center one-part">
            <p class="flex-center button text-medium one-part">Import Data</p>
          </label>
          <input ref="importData" id="file-upload" accept="tar/*" type="file" @change="fileSubmitted"/>
        </div>
        <button v-if="importInProgress" class="button text-medium half">Your data is importing! This may take a long time. Do not leave the page!</button>

        <div class="margin"></div>

        <!-- change domain name -->
        <p class="title light text-large">Attempts to replace all instances of a domain name with another one. It's literally just a string replacement method going through all your RSS posts and OGP links, but intended for migrating over to a new domain. Please back up your data before trying this feature out!</p>
        <div class="flex">
          <label for="oldDomain" class="title light text-large side-space">Old Domain</label>
          <input class="textbox bg-dark light text-medium" id="oldDomain" v-model="oldDomain">
        </div>

        <div class="margin"></div>

        <div class="flex">
          <label for="newDomain" class="title light text-large side-space">New Domain</label>
          <input class="textbox bg-dark light text-medium" id="newDomain" v-model="newDomain">
        </div>

        <div class="margin"></div>

        <button v-if="oldDomain && newDomain" class="button text-medium half" @click="changeDomain()">Replace Domain Links with New Domains</button>

        <!-- traffic data -->
        <div v-if="trafficData.length > 0" style="width: 100%" class="center">

          <div class="margin"></div>

          <p class="title light text-large">Time Data</p>
          <div>
            <div v-for="(data, index) in timeData.data" :style="{
                background: `linear-gradient(90deg, #555555 ${(100 * data / timeData.max) + '%'}, var(--color-primary) 0)`,
                backgroundColor: 'var(--text-color-light)' 
              }">
              <div class="traffic-text text-small">{{ new Date(timeData.ranges[index].start).toLocaleString()}} - {{ new Date(timeData.ranges[index].end).toLocaleString() }} ({{ data }} visits)</div>
            </div>
          </div>

          <div class="margin"></div>

          <p class="title light text-large">Page Data</p>
          <div>
            <div v-for="data in pageData.data" :style="{
                background: `linear-gradient(90deg, #555555 ${(100 * data.count / pageData.max) + '%'}, var(--color-primary) 0)`,
                backgroundColor: 'var(--text-color-light)' 
              }">
              <div class="traffic-text text-xsmall">{{ data.page }} ({{ data.count }} visits)</div>
            </div>
          </div>

          <div class="margin"></div>

          <p class="title light text-large">IP Data</p>
          <div>
            <div v-for="data in ipData.data" :style="{
                background: `linear-gradient(90deg, #555555 ${(100 * data.count / ipData.max) + '%'}, var(--color-primary) 0)`,
                backgroundColor: 'var(--text-color-light)' 
              }">
              <div class="traffic-text text-xsmall">{{ data.page }} ({{ data.count }} visits)</div>
            </div>
          </div>

          <div class="margin"></div>

          <p class="title light text-large">IP Filter</p>
          <div class="center flex-v">
            <p class="title light text-medium">You likely want to remove your own IP addresses when you're viewing the statistics. Put in a comma-separated list of IPs to remove from the results, followed by a minus sign (ex. 127.0.0.1-, 127.0.0.2-)</p>
            <p class="title light text-medium">Alternatively, you may search for a specific set of IPs by adding the IPs in a comma-separated list followed by the plus sign (ex. 127.0.0.1+, 127.0.0.2+)</p>
            <label for="ip" class="title light text-large">Put Your IP(s) Here</label>
            <input class="textbox bg-dark light text-medium" id="ip" v-model="yourIps">
          </div>

          <div class="margin"></div>

          <p class="title light text-large">Filter Date Range</p>
          <div class="flex flex-center">
            <div>
              <p class="title light text-medium">From</p>
              <input class="center textbox bg light text-medium" type="date" v-model="dateStartFilter">
            </div>
            <div>
              <p class="title light text-medium">To</p>
              <input class="center textbox bg light text-medium" type="date" v-model="dateEndFilter">
            </div>
          </div>

          <div class="margin"></div>

          <button v-if="!requestTrafficDeletion" class="button text-medium half" @click="deleteTraffic()">Delete Traffic History</button>
          <button v-if="requestTrafficDeletion" class="button text-medium half" @click="deleteTraffic()">Are you sure?</button>
        </div>

        <div class="margin"></div>

        <p class="title light text-large">IP Blacklist</p>
        <div class="center flex-v">
          <p class="title light text-medium">You may ban a single IP or a range of IPv4 addresses using "*" in place of the number.</p>
          <p class="title light text-medium text-error">Don't ban your own IP address. Even if it sounds funny.</p>
          <input class="textbox bg-dark light text-medium" id="ipban" v-model="ipToBan">
          <div class="margin"></div>
          <button v-if="ipToBan && ipToBan !== '*'" class="button text-medium half" @click="addIpBan()">Ban this IP!</button>
        </div>

        <p class="title light text-large">Banned IPs</p>
        <div v-for="ip in ipBans" class="flex">
          <p class="light no-space text-xsmall">{{ ip }}</p>
          <p class="cursor no-space light text-xsmall" @click="deleteIpBan(ip)">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unban
          </p>
        </div>

        <div class="margin"></div>

        <img class="pixel-art" alt="A drawing of CuRSSor the Skiltaire, looking happily at the viewer with a caught blue bird in his mouth" src="/curssor/curssor-hunting.png"></img>

      </main>

    </div>
  </body>

  <script type="module">
    Vue.createApp({
      data () {
        return {
          exportedData: "",
          oldDomain: "",
          newDomain: "",
          performAction: false,
          isAuthenticated: null,
          exportInProgress: false,
          importInProgress: false,
          trafficData: [],
          chunkCount: 20,
          yourIps: "",
          dateStartFilter: null,
          dateEndFilter: null,
          requestTrafficDeletion: false,
          ipBans: [],
          ipToBan: "",
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
        const data = (await axios.get('/api/traffic')).data;
        data.sort((a, b) => a.date - b.date);
        this.trafficData = data;

        this.getIpBans();
      },
      computed: {
        filteredTrafficData: function () {
          const blacklistedIps = this.yourIps.split(",").map(s => s.trim()).filter(s => s.includes("-")).map(s => s.slice(0, -1));
          const whitelistedIps = this.yourIps.split(",").map(s => s.trim()).filter(s => s.includes("+")).map(s => s.slice(0, -1));

          return this.trafficData
            .filter(data => !blacklistedIps.includes(data.ip))
            .filter(data => whitelistedIps.length > 0 ? whitelistedIps.includes(data.ip) : true)
            .filter(data => {
              if (!this.dateStartFilter || !this.dateEndFilter) {
                return true;
              }
              const postDate = new Date(data.date);
              let fromDate = this.convertInputDate(this.dateStartFilter);
              let toDate = this.convertInputDate(this.dateEndFilter);
              if (postDate < fromDate || postDate > toDate) {
                return false;
              }
              return true;
            });
        },
        timeData: function () {
          if (this.filteredTrafficData.length === 0) {
            return [];
          }
          // split into chunks of time
          const timeStart = this.filteredTrafficData[0].date;
          const timeRange = this.filteredTrafficData[this.filteredTrafficData.length - 1].date - timeStart + 1; // the + 1 is so the final data point can be in the final chunk
          const timeChunks = [];
          const timeRanges = [];
          for (let i = 0; i < this.chunkCount; i++) {
            const chunkStart = timeStart + (timeRange / this.chunkCount) * i;
            const chunkEnd = timeStart + (timeRange / this.chunkCount) * (i + 1);
            timeChunks.push(this.filteredTrafficData.filter(data => data.date >= chunkStart && data.date < chunkEnd).length);
            timeRanges.push({
              start: chunkStart,
              end: chunkEnd,
            });
          }
          return {
            data: timeChunks,
            max: Math.max(...timeChunks),
            ranges: timeRanges
          };
        },
        pageData: function () {
          if (this.filteredTrafficData.length === 0) {
            return [];
          }
          // return top pages visited
          const pageHash = {};
          this.filteredTrafficData.forEach(data => {
            if (!pageHash[data.path]) {
              pageHash[data.path] = 0;
            }
            pageHash[data.path]++;
          });
          let orderedPageData = [];
          for (let page in pageHash) {
            orderedPageData.push({
              page: page,
              count: pageHash[page]
            });
          }
          orderedPageData = orderedPageData.sort((a, b) => b.count - a.count).filter((d, index) => index < this.chunkCount);
          return {
            data: orderedPageData,
            max: orderedPageData[0].count
          }
        },
        ipData: function () {
          if (this.filteredTrafficData.length === 0) {
            return [];
          }
          // return top IPs visiting
          const ipHash = {};
          this.filteredTrafficData.forEach(data => {
            if (!ipHash[data.ip]) {
              ipHash[data.ip] = 0;
            }
            ipHash[data.ip]++;
          });
          let orderedIpData = [];
          for (let page in ipHash) {
            orderedIpData.push({
              page: page,
              count: ipHash[page]
            });
          }
          orderedIpData = orderedIpData.sort((a, b) => b.count - a.count).filter((d, index) => index < this.chunkCount);
          return {
            data: orderedIpData,
            max: orderedIpData[0].count
          }
        }
      },
      methods: {
        // I hate Date objects
        convertInputDate (dateString) {
          let output = new Date();
          output.setYear(dateString.split('-')[0]);
          output.setMonth(dateString.split('-')[1] - 1);
          output.setDate(dateString.split('-')[2]);
          output.setHours(0);
          output.setMinutes(0);
          output.setSeconds(0);
          output.setMilliseconds(0);
          return output;
        },
        async deleteTraffic () {
          if (!this.requestTrafficDeletion) {
            this.requestTrafficDeletion = true;
          } else {
            // prepare deletion
            await axios.delete('/api/traffic', {});
            window.location.href = '/admin.html';
          }
        },
        async exportData () {
          this.exportInProgress = true;
          // retrieve a zip of the user's data from the server
          const result = await axios.get("/api/export", {
            responseType: 'blob',
          });
          const url = window.URL.createObjectURL(
            new Blob([result.data])
          );
          this.exportedData = url;
          this.exportInProgress = false;
        },
        async changeDomain () {
          if (!this.performAction) {
            this.performAction = true;
          }
          await axios.post("/api/domain", {
            oldDomain: this.oldDomain,
            newDomain: this.newDomain,
          });
          window.location.href = '/index.html';
        },
        async fileSubmitted (event) {
          const formData = new FormData();

          for (let i = 0; i < event.target.files.length; i++) {
            const file = event.target.files[i];
            formData.append('exported', file);
            this.importInProgress = true;
          }

          const results = await axios.post('/api/import', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          });

          this.importInProgress = false;

          window.location.href = '/admin.html'; // refresh page when finished
        },
        async getIpBans () {
          const data = (await axios.get('/api/ipban')).data;
          this.ipBans = data.ipBans;
        },
        async addIpBan () {
          await axios.post("/api/ipban", {
            ip: this.ipToBan,
          });
          this.ipToBan = "";
          await this.getIpBans();
        },
        async deleteIpBan (ip) {
          await axios.delete("/api/ipban", {data: {
            ip: ip
          }});
          await this.getIpBans();
        },
        
      }
    }).mount('#app');

  </script>

  <style>
    #file-upload {
      display: none;
    }

    .margin {
      margin-bottom: 24px;
    }

    .traffic-text {
      color: var(--text-color-light)
    }

    @media only screen and (max-width: 600px) {
      .text-small {
        font-size: var(--size-xsmall);
      }
    }
  </style>
</html>
