<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Cakelandish Home Page</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="alternate" type="application/atom+xml" href="/feed.atom">
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg" class="no-space">
    <div id="app" class="flex-v" v-cloak>

      <switch-view-component
        :screen="screen"
        :is-authenticated="isAuthenticated"
        left-view-name="Show Feeds"
        right-view-name="Show Posts"
        :swap-starting-view="true">

        <template v-slot:left-side>
          <!-- uncollapse sidebar button -->
          <button v-if="collapseSidebar && screen === 'lg'"
            style="position: fixed; align-self: start;"
            class="button text-large"
            @click="toggleSidebar"> →
          </button>

          <!-- feed sidebar -->
          <div v-if="(screen !== 'lg' || !collapseSidebar)" class="sidebar bg-dark flex-v" :class="{ 'sidebar-full': screen !== 'lg' }">

            <div class="sidebar-margins flex-v">
              <nav aria-label="Primary Navigation" class="flex-v">
                <a class="button text-large" href="upload.html">New Post</a>
                <a class="button text-large top-space" href="manage.html">Manage Posts</a>
                <a class="button text-large top-space" href="pages.html">Manage Custom Pages and Files</a>
              </nav>
              <nav aria-label="Secondary Navigation" class="flex-center">
                <a class="button text-large top-space side-space one-part" href="layout.html">Edit Post Layout</a>
                <a class="button text-large top-space side-space one-part" href="admin.html">Admin Tools</a>
              </nav>
              <p class="title text-large light ">Your Feeds</p>

              <!-- collapse sidebar button -->
              <button class="button text-large collapse-sidebar" v-if="screen === 'lg'" 
                @click="toggleSidebar"> ←
              </button>

              <!-- feed list -->
              <div 
                class="feed-in-between" 
                @dragenter="dragOnFeed($event)" 
                @dragleave="dragOffFeed($event)" 
                @dragover="allowDrop($event)" 
                @drop="dropFeedItem($event, 0)">
              </div> <!-- for placing feed items above top of array -->

              <div v-if="!isLoading" class="feed-list-scroll">
                <div v-for="(feed, index) in feeds" class="flex-v" style="margin-right: 16px">
                  <!-- the feed items are drag n droppable! -->
                  <div class="flex" style="margin-top: 0px;" draggable="true" @dragstart="dragFeedItem($event, index)"> 
                    <img class="icon" style="margin-right: 10px;" :src="feed.iconUrl" alt=""></img>
                    <!-- parsing errors should show the text in red -->
                    <p tabindex=0 role="button" class="textbox bg light one-part text-medium" :class="{ 'text-error': !feed.success }" id="name" @click="presentFeed(index)" @keydown.enter="presentFeed(index)">{{ feed.name }}</p>
                    <!-- more feed history to download -->
                    <img 
                      tabindex=0
                      role="butto text-largen"
                      v-if="feed.meta && feed.meta.prevArchive && !searchingForExtraFeed" 
                      class="icon" 
                      src="/feed-extras.png"
                      title="Archive feed link found. Click to download more content from this feed."
                      @click="downloadExtras(feed)"
                      @keydown.enter="downloadExtras(feed)"
                      alt="Click to download more content from this feed"> </img>
                    <!-- Focusing on one feed -->
                    <img 
                      tabindex=0
                      role="button"
                      v-if="focusedFeedIndex === index || focusedFeedIndex === null" 
                      class="icon" 
                      src="/eye-open.png" 
                      @click="focusFeed(index)"
                      @keydown.enter="focusFeed(index)"
                      alt="Focus on this feed"> </img>
                    <img v-else tabindex=0 role="button" class="icon" src="/eye-closed.png" @click="focusFeed(index)" @keydown.enter="focusFeed(index)"> </img>
                  </div>
                  
                  <div 
                    class="feed-in-between" 
                    @dragenter="dragOnFeed($event)" 
                    @dragleave="dragOffFeed($event)" 
                    @dragover="allowDrop($event)" 
                    @drop="dropFeedItem($event, index + 1)">
                  </div>
                </div>
              </div>

              <button 
                v-if="!showingAddFeedForm && !isLoading" 
                class="button top-space text-large" 
                @click="presentFeed(null)">Add Feed
              </button>

              <!-- add/edit feed form -->
              <div v-if="showingAddFeedForm" class="top-space">
                <div class="flex-center" style="margin-bottom: 10px">
                  <label class="label light text-small" for="name">Name  </label>
                  <input class="textbox bg light one-part text-medium" id="name" v-model="feed.name">
                </div>
                <div class="flex-center">
                  <label class="label light text-small" for="url">URL  </label>
                  <input class="textbox bg light one-part text-medium" id="url" v-model="feed.url">
                </div>
                <div class="flex-center">
                  <label class="label light text-small" for="update-interval">Update Interval</label>
                  <input type="number" class="textbox bg light one-part text-medium" id="update-interval" v-model="feed.updateMinutes">
                  <p class="light text-small">Minutes</p>
                </div>
                <div class="flex-center" style="justify-content: space-evenly">
                  <button class="button text-medium one-part side-space" @click="addFeed">{{ selectedIndex === null ? "Add Feed" : "Save Edits"}}</button>
                  <button class="button text-medium one-part side-space" @click="deleteFeed">Delete Feed</button>
                </div>
              </div>

              <p v-if="isLoading" class="title light text-large center">
                Updating feed content...
              </p>
              <img class="pixel-art" alt="CuRSSor the Skiltaire, reaching out to the web to grab feed content" v-if="isLoading" src="/curssor/curssor-searching.gif"></img>

              <!-- Search posts -->
              <button @click="toggleSearch" class="button text-large top-space">Search Posts</button>

              <div v-if="showSearch" class="flex-v">

                <div class="flex top-space">
                  <div class="flex-v one-part flex-center" style="justify-content: space-between">
                    <label for="searchType" class="title light text-large center">Type</label>
                    <select id="searchType" class="center textbox bg light text-medium" v-model="searchType" aria-label="Filter type">
                      <option v-for="type in searchTypeList"> {{ type }} </option>
                    </select>
                  </div>
                  <div class="flex-v one-part flex-center" style="justify-content: space-between; margin-left: 4px">
                    <label for="searchValue" class="title light text-large center">Value</label>
                    <input id="searchValue" v-if="searchType === 'Category'" class="textbox bg light text-medium" v-model="searchValues[0].value">
                    <input id="searchValue" v-if="searchType === 'Title'" class="textbox bg light text-medium" v-model="searchValues[1].value">
                    <input id="searchValue" v-if="searchType === 'Content'" class="textbox bg light text-medium" v-model="searchValues[2].value">
                    <div id="searchValue" class="flex" v-if="searchType === 'Date'">
                      <div class="flex-v" style="margin-right: 4px">
                        <label for="searchDateFrom" class="light center">From</label>
                        <input id="searchDateFrom" class="center textbox bg light text-small" type="date" v-model="searchValues[3].value.from">
                      </div>
                      <div class="flex-v">
                        <label for="searchDateTo" class="light center">To</label>
                        <input id="searchDateTo" class="center textbox bg light text-small" type="date" v-model="searchValues[3].value.to">
                      </div>
                    </div>
                    <input id="searchValue" v-if="searchType === 'Has Image'" type="checkbox" class="center textbox bg light text-medium checkbox" v-model="searchValues[4].value">
                  </div>
                </div>

                <div class="flex flex-center" style="justify-content: space-evenly">
                  <label for="invertFilter" class="title light text-large center">Invert filter</label>
                  <input id="invertFilter" type="checkbox" class="textbox checkbox" v-model="invertFilter">
                </div>

                <button class="button text-large top-space" @click="addFilter()">Add Filter</button>

                <div class="flex flex-center" v-for="(filter, index) in filters" 
                  style="margin-left: 10px; margin-right: 10px;">
                  <p class="text-xsmall light one-part">{{ filter.type }}:{{ filter.value }}{{ filter.inverted ? " (not)" : "" }}</p>
                  <p tabindex=0 role="button" class="cursor center text-xsmall light" @click="deleteFilter(index)" @keydown.enter="deleteFilter(index)">Delete</p>
                </div>
              </div>

              <!-- Blacklist / hide tags -->
              <button @click="toggleHiddenTags" class="button text-large top-space">Hidden Tags</button>

              <div v-if="showHiddenTags" class="flex-v">

                <div class="flex-v top-space one-part">
                  <p class="light no-space text-medium center">Hidden Tags</p>
                  <div v-for="tag in hiddenTags" class="flex">
                    <p class="light no-space text-small three-part">{{ tag }}</p>
                    <p class="cursor no-space light text-xsmall one-part" style="text-align: right" @click="removeHiddenTag(tag)">
                      Remove
                    </p>
                  </div>
                  <div class="flex">
                    <label class="label light text-small" for="hiddenTag">New Tag: </label>
                    <input class="textbox bg light one-part text-small" id="hiddenTag" v-model="hiddenTag">
                  </div>
                  <button class="button text-medium top-space" @click="addHiddenTag()">Add Tag</button>
                </div>

                <div class="flex-v top-space one-part">
                  <p class="light no-space text-medium center">Blacklisted Tags</p>
                  <div v-for="tag in blacklistedTags" class="flex">
                    <p class="light no-space text-small three-part">{{ tag }}</p>
                    <p class="cursor no-space light text-xsmall one-part" style="text-align: right" @click="removeBlacklistedTag(tag)">
                      Remove
                    </p>
                  </div>
                  <div class="flex">
                    <label class="label light text-small" for="blacklistedTag">New Tag: </label>
                    <input class="textbox bg light one-part text-small" id="blacklistedTag" v-model="blacklistedTag">
                  </div>
                  <button class="button text-medium top-space" @click="addBlacklistedTag()">Add Tag</button>
                </div>

                <p v-if="tagChangeTip" class="light no-space text-medium center">{{ tagChangeTip }}</p>
              </div>

              <!-- Version information -->
              <div v-if="currentVersion" class="flex-v flex-center">
                <p class="text-xsmall light center">Current version: {{ currentVersion }}</p>
                <p v-if="!onNewestVersion" class="text-xsmall light center"> 
                  <a href="https://github.com/firecakes/cakelandish/releases">Newer version available: {{ remoteVersion }}</a>
                </p>
                <p v-if="lastExportDateDays" class="text-xsmall light center">You have last exported your data {{ lastExportDateDays }} {{ lastExportDateDays == 1 ? "day" : "days" }} ago.</p>
                <img class="pixel-art" alt="CuRSSor the Skilatire, showing his satisfaction of your server upkeep behavior" :src="curssorStatus"></img>
              </div>
            </div>

          </div>
        </template>

        <template v-slot:right-side>
          <!-- display feed content -->
          <main class="flex-v feed-without-sidebar" :class="{ 'feed-with-sidebar': screen === 'lg' && !collapseSidebar}">
            <p v-if="isLoading && (screen !== 'lg' && currentView === 'posts')" class="title light text-large center">
              Updating feed content...
            </p>
            <img class="pixel-art" alt="CuRSSor the Skiltaire, reaching out to the web to grab feed content" v-if="isLoading && (screen !== 'lg' && currentView === 'posts')" src="/curssor/curssor-searching.gif"></img>
            <!-- render each post -->
            <feed-post 
              @render-reply-to="renderReplyTo"
              :class="{'replied-to-post': post.entry.isRepliedTo }"
              :post="post" 
              :index="index"
              class="post flex" 
              v-for="(post, index) in orderedContent.filter((post, index) => index < this.postsToRender)">
            </feed-post>
          </main>
        </template>

      </switch-view-component>

      <main v-if="isAuthenticated === false" class="half flex-v one-part">
        <p class="title light text-xlarge">Post Index</p>
        <div class="center light" style="margin-bottom: 1em" v-for="(post, index) in postLocations">
          <p class="title text-xlarge" v-if="index === 0 || post.year !== postLocations[index - 1].year || post.month !== postLocations[index - 1].month">{{ numberToMonth(post.month) }} {{ post.year }}<br></p>
          <a v-if="post.title" class="light text-medium"  :href="post.path">{{ post.title }}</a>
          <a v-else class="light text-medium" :href="post.path">Untitled Post</a>
          <p v-if="post.ogpExtra && post.ogpExtra.description" class="text-small">{{ post.ogpExtra.description }}</p>
          <div v-if="post.ogpExtra && post.ogpExtra.mediaData" v-for="media in post.ogpExtra.mediaData">
            <img v-if="media.mediaType === 'image'" :src="media.absoluteUrl" :alt="media.description">
            <audio controls v-if="media.mediaType === 'audio'">
              <source :src="media.absoluteUrl">
            </audio>
            <video controls width="100%" v-if="media.mediaType === 'video'">
              <source :src="media.absoluteUrl" :type="'video/' + media.extension">
            </video>
            <a v-if="media.mediaType === 'link'" :href="media.absoluteUrl">
              {{ media.absoluteUrl.split("/").reverse()[0] }}
            </a>
          </div>
        </div>
      </main>

    </div>
  </body>

  <script type="module">
    import * as util from "./util.js";
    import FeedPost from "./components/FeedPost.js";
    import SwitchViewComponent from "./components/SwitchViewComponent.js";

    Vue.createApp({
      components: {
        FeedPost,
        SwitchViewComponent
      },
      data () {
        return {
          feeds: [],
          orderedContent: [],
          showingAddFeedForm: false,
          selectedIndex: null,
          feed: {
            name: "",
            url: "",
            updateMinutes: 60
          },
          isLoading: false,
          focusedFeedIndex: null,
          filters: [], // { type: "" , value: string/obj/bool}
          searchType: "Category",
          searchValues: [{
            type: "Category",
            value: "",
          },{
            type: "Title",
            value: "",
          },{
            type: "Content",
            value: "",
          },{
            type: "Date",
            value: {
              from: "",
              to: "",
            }
          },{
            type: "Has Image",
            value: false,
          },],
          invertFilter: false,
          searchTypeList: ["Category", "Title", "Content", "Date", "Has Image"],
          searchingForExtraFeed: false,
          isAuthenticated: null,
          currentVersion: null,
          remoteVersion: null,
          postLocations: null,
          screen: "lg",
          currentView: "posts",
          currentViewText: "Show Feeds",
          RENDER_POST_INIT: 20,
          RENDER_POST_INCREASE: 10,
          postsToRender: 20,
          totalPosts: 0,
          lastExportDateDays: null,
          showSearch: false,
          collapseSidebar: false,
          showHiddenTags: false,
          hiddenTag: "",
          blacklistedTag: "",
          hiddenTags: [],
          blacklistedTags: [],
          tagChangeTip: "",
        }
      },
      async mounted () {
        this.screen = util.widthToScreenSize(window.innerWidth);
        window.addEventListener('resize', () => {
          this.screen = util.widthToScreenSize(window.innerWidth);
        });
        window.addEventListener("scroll", this.onScroll)

        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
        }
        
        if (this.isAuthenticated) {
          // get all feeds
          this.isLoading = true;
          await this.getTags(false);
          await this.getFeeds();
          const versionData = (await axios.get('/api/version')).data;
          this.currentVersion = versionData.currentVersion;
          this.remoteVersion = versionData.remoteVersion;
          const exportDataDate = (await axios.get('/api/export/date')).data.exportDate;
          this.lastExportDateDays = Math.floor((Date.now() - exportDataDate) / (1000 * 60 * 60 * 24)); // days ago
          this.isLoading = false;
        } else {
          const postLocations = (await axios.get('/api/post/all')).data.postLocations;
          this.postLocations = postLocations;
          // inject proper month and year information based on the client's current timezone
          this.postLocations.forEach(post => {
            const date = new Date(post.time);
            post.month = date.getMonth() + 1;
            post.year = date.getFullYear();
          });
          // transform output to be easier to consume for the HTML
          let imageTypes = util.imageTypes();
          let audioTypes = util.audioTypes();
          let videoTypes = util.videoTypes();
          this.postLocations.forEach(post => {
            if (post.ogpExtra && post.ogpExtra.mediaData) {
              post.ogpExtra.mediaData = post.ogpExtra.mediaData
                .sort((a, b) => a.order - b.order)
                .map(media => {
                  const extension = media.absoluteUrl.split(".").reverse()[0];
                  let mediaType = "";
                  if (imageTypes.includes(extension)) {
                    mediaType = "image";
                  } else if (audioTypes.includes(extension)) {
                    mediaType = "audio";
                  } else if (videoTypes.includes(extension)) {
                    mediaType = "video";
                  } else {
                    mediaType = "link";
                  }
                  return {
                    description: media.description,
                    absoluteUrl: media.absoluteUrl,
                    mediaType: mediaType,
                    extension: extension,
                  }
                })
            }
          })
        }
      },
      computed: {
        onNewestVersion: function () {
          if (!this.currentVersion || !this.remoteVersion) {
            return true;
          }
          const currentVersion = this.currentVersion.split(".").map(Number);
          const remoteVersion = this.remoteVersion.split(".").map(Number);
          if (remoteVersion[0] > currentVersion[0]) {
            return false;
          }
          if (remoteVersion[0] === currentVersion[0] && remoteVersion[1] > currentVersion[1]) {
            return false;
          }
          if (remoteVersion[0] === currentVersion[0] && remoteVersion[1] === currentVersion[1] && remoteVersion[2] > currentVersion[2]) {
            return false;
          }
          return true;
        },
        curssorStatus: function () {
          let badThings = 0;
          if (!this.onNewestVersion) {
            badThings++;
          }
          if (this.lastExportDateDays > 30) {
            badThings++;
          }
          if (this.lastExportDateDays > 90) {
            badThings++;
          }
          if (badThings === 0) {
            return "/curssor/curssor-approved.png";
          } else if (badThings === 1) {
            return "/curssor/curssor-grumpy.png";
          } else {
            return "/curssor/curssor-fainted.png";
          }
        }
      },
      methods: {
        // I hate Date objects
        convertInputDate (dateString) {
          let output = new Date();
          output.setYear(dateString.split('-')[0]);
          output.setMonth(dateString.split('-')[1] - 1);
          output.setDate(dateString.split('-')[2]);
          output.setHours(0);
          output.setMinutes(0);
          output.setSeconds(0);
          output.setMilliseconds(0);
          return output;
        },
        toggleSearch () {
          this.showSearch = !this.showSearch;
        },
        toggleHiddenTags () {
          this.showHiddenTags = !this.showHiddenTags;
        },
        numberToMonth (num) {
          return ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][num];
        },
        areFeedsEqual (feed1, feed2) {
          return feed1.name === feed2.name && feed1.url === feed2.url && feed1.updateMinutes === feed2.updateMinutes && feed1.xml === feed2.xml;
        },
        async getFeeds () {
          const feeds = (await axios.get('/api/feed')).data.feeds;
          // only parse feeds that have changed since the last update
          // incoming feeds not found on existing feeds are new
          const newFeeds = feeds.filter(feed => {
            return this.feeds.findIndex(target => this.areFeedsEqual(target, feed)) === -1;
          });
          // current feeds found on incoming feeds should stay in the feed list. all others should be removed
          const nonExpiredFeeds = this.feeds.filter(feed => {
            return feeds.findIndex(target => this.areFeedsEqual(target, feed)) !== -1;
          });
          // parse XML data from RSS and ATOM feeds and combine into one structure. only new feeds need to be parsed!
          const parsedFeeds = await util.parseFeeds(newFeeds);
          // non expired feeds + new feeds = updated feed list
          const updatedFeedList = nonExpiredFeeds.concat(parsedFeeds);
          // order the list by its indeces
          this.feeds = updatedFeedList.sort((feed1,feed2) => feed1.index - feed2.index);
          this.feedToList();
        },
        async getTags(tagDataChanged = false) {
          const tagData = (await axios.get('/api/feed/tag')).data;
          this.hiddenTags = tagData.hiddenTags;
          this.blacklistedTags = tagData.blacklistedTags;
          if (tagDataChanged) {
            this.tagChangeTip = "Refresh the page for changes to take effect!";
          }
        },
        onScroll (event) {
          const PIXELS_FROM_BOTTOM_OF_FEED = 2000;
          // determine if more posts should be rendered and we're not displaying all of them yet
          if (document.body.scrollHeight - window.scrollY < PIXELS_FROM_BOTTOM_OF_FEED && this.postsToRender < this.totalPosts) {
            this.postsToRender += this.RENDER_POST_INCREASE;
          }
        },
        feedToList () {
          // sort entries by newest dates. remove any unsuccessful feed parsings
          // also pass in the URL of the feed to each entry for future reference
          // also runs through user-created filters
          this.orderedContent = this.feeds
            // remove all but the user-selected feed if applicable
            .filter((feed, index) => this.focusedFeedIndex === null || this.focusedFeedIndex === index)
            .filter(feed => feed.success) // put after index checking from previous filter or the list will misalign
            .map(feed => feed.feedArray)
            .flat()
            // per-post filters....
            .filter(post => {
              // blacklisted tag check
              if (post.entry.categories.map(c => this.blacklistedTags.includes(c)).includes(true)) {
                return false;
              }
              // content can be null
              if (post.entry.content === null) {
                post.entry.content = "";
              }
              for (let i = 0; i < this.filters.length; i++) {
                const searchType = this.filters[i].type;
                const searchValue = this.filters[i].value;
                const isInverted = this.filters[i].inverted;
                if (searchType === "Category") {
                  if (post.entry.categories.map(c => c.toLowerCase()).includes(searchValue.toLowerCase()) === isInverted) {
                    return false;
                  }
                }
                if (searchType === "Title") {
                  if (post.entry.title.toLowerCase().includes(searchValue.toLowerCase()) === isInverted) {
                    return false;
                  }
                }
                if (searchType === "Content") {
                  if (post.entry.content.toLowerCase().includes(searchValue.toLowerCase()) === isInverted) {
                    return false;
                  }
                }
                if (searchType === "Date" && searchValue.from !== "" && searchValue.to !== "") {
                  const postDate = new Date(post.entry.date);
                  const fromDate = this.convertInputDate(searchValue.from);
                  const toDate = this.convertInputDate(searchValue.to);
                  if (!(postDate < fromDate || postDate > toDate) === isInverted) {
                    return false;
                  }
                }
                if (searchType === "Has Image") {
                  if ( (post.entry.content.includes("<img src=") === searchValue) === isInverted) {
                    return false;
                  }
                }
              }
              return true;
            })
            .map(post => { // reset hide reply state since replies get wiped on change
              post.entry.hideReplyToButton = false;
              // hidden category check
              if (post.entry.categories.map(c => this.hiddenTags.includes(c)).includes(true)) {
                post.entry.hide = true;
              }
              return post;
            })
            .sort((a, b) => {
              return new Date(b.entry.date) - new Date(a.entry.date)
            });
          // reset post render count
          this.postsToRender = this.RENDER_POST_INIT;
          this.totalPosts = this.orderedContent.length;
        },
        presentFeed (index = null) {
          this.showingAddFeedForm = !this.showingAddFeedForm;

          if (index === null) { // Add Feed button was pressed
            this.feed.name = "";
            this.feed.url = "";
            this.feed.updateMinutes = 60;
          } else {
            this.feed.name = this.feeds[index].name;
            this.feed.url = this.feeds[index].url;
            this.feed.updateMinutes = this.feeds[index].updateMinutes;
          }
          this.selectedIndex = index;
        },
        addFilter () {
          const filter = this.searchValues.find(obj => obj.type === this.searchType);
          if (!filter) {
            return;
          }
          const filterCopy = JSON.parse(JSON.stringify(filter));
          filterCopy.inverted = this.invertFilter;
          this.filters.push(filterCopy);
          this.searchValues[0].value = "";
          this.searchValues[1].value = "";
          this.searchValues[2].value = "";
          this.searchValues[3].value = {
            from: "",
            to: "",
          };
          this.searchValues[4].value = false;
          this.invertFilter = false;
          this.feedToList();
        },
        deleteFilter (index) {
          this.filters.splice(index, 1);
          this.feedToList();
        },
        async addFeed () {
          this.showingAddFeedForm = !this.showingAddFeedForm;
          let feedObj = {
            name: this.feed.name,
            url: this.feed.url,
            updateMinutes: this.feed.updateMinutes,
            index: this.selectedIndex !== null ? this.selectedIndex : undefined 
          };
          if (this.selectedIndex !== null) { // update feed
            await axios.put('/api/feed', feedObj);
          } else { // add feed
            await axios.post('/api/feed', feedObj);
          }
          this.isLoading = true;
          await this.getFeeds();
          this.selectedIndex = null;
          this.isLoading = false;
        },
        async deleteFeed () {
          this.showingAddFeedForm = !this.showingAddFeedForm;

          if (this.selectedIndex !== null) { // delete feed
            await axios.delete('/api/feed', {
              data: {
                index: this.selectedIndex,
              }
            });
            this.isLoading = true;
            await this.getFeeds(); // refresh feed list
            this.isLoading = false;

            // remove the focus if it's the same index as the deleted feed
            if (this.focusedFeedIndex === this.selectedIndex) {
              this.focusFeed(null);
            }
            // shift the focus down one if it's before the deleted one's index so the focus stays on the same feed
            else if (this.focusedFeedIndex > this.selectedIndex) {
              this.focusFeed(this.focusedFeedIndex - 1);
            }
          }

          this.selectedIndex = null;
        },
        async addHiddenTag () {
          try {
            await axios.post('/api/feed/tag/hidden', { name: this.hiddenTag });
          } catch (err) {
          }
          this.hiddenTag = "";
          await this.getTags(true);
        },
        async addBlacklistedTag () {
          try {
            await axios.post('/api/feed/tag/blacklisted', { name: this.blacklistedTag });
          } catch (err) {
          }
          this.blacklistedTag = "";
          await this.getTags(true);
        },
        async removeHiddenTag (tag) {
          await axios.delete('/api/feed/tag/hidden', {
            data: {
              name: tag,
            }
          });
          await this.getTags(true);
        },
        async removeBlacklistedTag (tag) {
          await axios.delete('/api/feed/tag/blacklisted', {
            data: {
              name: tag,
            }
          });
          await this.getTags(true);
        },
        renderReplyTo (post, index) {
          // hidden category check
          if (post.entry.categories.map(c => this.hiddenTags.includes(c)).includes(true)) {
            post.entry.hide = true;
          }
          this.orderedContent.splice(index + 1, 0, post);
        },
        focusFeed (index) {
          if (this.focusedFeedIndex === index) {
            this.focusedFeedIndex = null;
          } else {
            this.focusedFeedIndex = index;
          }
          // force the scroll to the top of the list on a focus change
          window.scrollTo(0,0);
          this.feedToList(); // update the list
        },
        async downloadExtras (feed) {
          // download more content using prevArchive
          if (!feed.meta.prevArchive) {
            return;
          }
          this.searchingForExtraFeed = true;

          try {
            const result = await axios.post("/api/query/feed", {
              url: feed.meta.prevArchive,
            });

            const nextFeed = (await util.parseFeeds(result.data.feed))[0];

            // add the new nextFeed contents to the original feed object
            feed.url = feed.meta.prevArchive;
            if (nextFeed.meta.prevArchive) {
              feed.meta.prevArchive = nextFeed.meta.prevArchive;
            } else {
              feed.meta.prevArchive = null;
            }

            if (feed.feedArray) {
              feed.feedArray = feed.feedArray.concat(nextFeed.feedArray);
            }

            this.feedToList();
          } catch (err) {
            console.log(err);
          }

          this.searchingForExtraFeed = false;
        },
        // drag and drop handling
        dragFeedItem (event, index) {
          event.dataTransfer.setData("text/plain", index);
        },
        allowDrop (event) {
          event.preventDefault();
        },
        dropFeedItem (event, to) {
          event.preventDefault();
          const from = event.dataTransfer.getData("text/plain");
          const oldFeedTarget = this.feeds[this.focusedFeedIndex];
          // transfer the data in the feed list between the two indices
          const feed = this.feeds.splice(from, 1)[0];
          this.feeds.splice(from >= to ? to : to - 1, 0, feed);
          // also change the focus feed index!
          if (oldFeedTarget) {
            this.focusedFeedIndex = this.feeds.findIndex(feed => feed === oldFeedTarget);
          }
          // inform the server of the changes but do not force a whole update cycle
          axios.put('/api/feed/reorder', {
            from: Number(from),
            to: Number(to),
          });

          event.target.style['background-color'] = ''; // remove bg color
          // close the feed form if it happened to be out
          if (this.showingAddFeedForm) {
            this.showingAddFeedForm = false;
          }
        },
        dragOnFeed (event) {
          event.target.style['background-color'] = '#FFF'; // show it's selected
        },
        dragOffFeed (event) {
          event.target.style['background-color'] = ''; // remove bg color
        },
        toggleSidebar () {
          this.collapseSidebar = !this.collapseSidebar
        }
      }
    }).mount('#app');

  </script>

  <style>
    .sidebar {
      position: fixed;
      width: 480px;
      height: 100%;
      overflow: auto;
    }

    .content-margins {
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
    }

    .sidebar-margins {
      margin-top: 12px;
      margin-left: 12px;
      margin-right: 12px;
    }

    .sidebar-full {
      width: 100% !important;
    }

    .feed-without-sidebar {
      width: calc(100%);
    }

    .feed-with-sidebar {
      margin-left: 480px;
      width: calc(100% - 480px);
    }

    .post-scroller {
      overflow-x: scroll;
      flex: 1 0 0;
    }

    .feed-in-between {
      padding-top: 16px;
    }

    .feed-list-scroll {
      overflow: scroll;
      height: 50vh;
      margin-right: 4px;
    }

    .icon {
      max-height: 24px;
    }

    .label {
      width: 5em;
    }

    .replied-to-post {
      margin-left: 28px;
    }

    .post-metadata {
      width: 152px;
    }

    .collapse-sidebar {
      position: absolute;
      align-self: end;
      margin-top: 180px;
      margin-right: 4px;
    }

    @media only screen and (max-width: 1200px) {
      .sidebar {
        width: 360px;
      }
      .feed-with-sidebar {
        margin-left: 360px;
        width: calc(100% - 360px);
      }
      .text-small {
        font-size: var(--size-xsmall);
      }
      .text-medium {
        font-size: var(--size-small);
      }
      .text-large {
        font-size: var(--size-medium);
      }
    }

    @media only screen and (max-width: 1000px) {
      .text-small {
        font-size: var(--size-small);
      }
      .text-medium {
        font-size: var(--size-medium);
      }
      .text-large {
        font-size: var(--size-large);
      }
    }

    @media only screen and (max-width: 600px) {
      .post {
        flex-direction: column;
      }
      .post-metadata {
        width: 100%;
      }
      .post-scroller {
        flex: auto;
      }
    }

  </style>
</html>
