<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <script src="/lib/vue.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="main.css">
  </head>

  <body id="bg">
    <div id="app" class="flex-v" v-cloak>
      <p class="title center">{{ titleText }}</p>

      <input v-if="!authenticated" class="textbox" id="title" v-model="code">

      <button v-if="!authenticated" class="button submit-button" @click="auth()">Authenticate</button>
      <a class="button submit-button" href="index.html">Return to Main Page</a>
    </div>
  </body>

  <script type="module">
    Vue.createApp({
      data () {
        return {
          titleText: "Place your code below to gain authorization",
          code: "",
          authenticated: false,
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.authenticated = true;
          this.titleText = "You are now authenticated.";
        } catch (err) {
          this.authenticated = false;
          return;
        }
      },
      methods: {
        async auth () {
          const result = await axios.post("/api/auth", { code: this.code });
          if (!result.data.success) {
            this.titleText = "Code is invalid.";
          } else {
            this.titleText = "You are now authenticated.";
            this.authenticated = true;
          }
        },
      }
    }).mount('#app');

  </script>

  <style>

    .button {
      margin-top: 20px;
      padding-left: 50px;
      padding-right: 50px;
      height: 30px;
      font-size: 14px;
      align-self: center;
    }

    .submit-button {
      font-size: 20px;
    }

    .textbox {
      background: #1B2327;
      margin-right: 20px;
    }

  </style>
</html>