<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Login Page</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg">
    <main id="app" class="flex-v flex-center" v-cloak>
      <label for="authCode" class="title light text-xlarge">{{ titleText }}</label>

      <input id="authCode" aria-label="Authorization passcode" v-if="!authenticated" class="textbox bg-dark light text-large one-part half" id="title" v-model="code">

      <button v-if="!authenticated" class="button text-large half top-space" @click="auth()">Authenticate</button>
      <a class="button text-large half top-space" href="index.html">Return to Main Page</a>
    </main>
  </body>

  <script type="module">
    Vue.createApp({
      data () {
        return {
          titleText: "Place your code below to gain authorization",
          code: "",
          authenticated: false,
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.authenticated = true;
          this.titleText = "You are now authenticated.";
        } catch (err) {
          this.authenticated = false;
          return;
        }
      },
      methods: {
        async auth () {
          const result = await axios.post("/api/auth", { code: this.code });
          if (!result.data.success) {
            this.titleText = "Code is invalid.";
          } else {
            this.titleText = "You are now authenticated.";
            this.authenticated = true;
          }
        },
      }
    }).mount('#app');

  </script>

  <style>

  </style>
</html>
