#bg {
  background: #273038;
}

.flex {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.fourth {
  flex: 1 0 0;
  background: #1b2327;
  height: 100%;
}

.third {
  flex: 1 0 0;
}

.two-third {
  flex: 2 0 0;
  margin-left: 10px;
}

.three-fourth {
  flex: 3 0 0;
}

.half {
  flex: 1 0 0;
}

.no-space {
  margin: 0px;
  padding: 0px;
}

.title {
  color: #d2d2d2;
  font-family: Inika;
  font-size: 32px;
  margin: 0px;
}

.small-title {
  color: #d2d2d2;
  font-family: Inika;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 10px;
}

.tiny-text {
  color: #d2d2d2;
  font-family: Inika;
  font-size: 12px;
  margin: 0px;
}

.center {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: #d2d2d2;
  font-family: Inika;
  font-size: 36px;
  background: #382f27;
  border: 0px;
  border-radius: 8px;
  text-align: center;
  appearance: button;
  text-decoration: none;
}

.small-button {
  font-family: Inika;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  text-align: center;
  appearance: button;
  text-decoration: none;
}

.textbox {
  margin-left: 20px;
  height: 30px;
  color: #d2d2d2;
  font-family: Inika;
  font-size: 28px;
  background: #273038;
  border: 0px;
  flex-grow: 1;
}

.switch-view-button {
  font-size: 20px;
  position: fixed;
  width: 100%;
}

/* keep at bottom of css! */
[v-cloak] {
  display: none;
}
