@font-face {
  font-family: Inika;
  src: url('Inika-Regular.ttf');
}

@font-face {
  font-family: Inika;
  src: url('Inika-Bold.ttf');
  font-weight: bold;
}

html {
  --color-primary: #273038;
  --color-primary-dark: #1B2327;
  --color-primary-light: #ECF8FF;
  --color-accent: #382F27;
  --text-color-light: #D2D2D2;
  --text-color-dark: #232323;
  --text-error: #FF0000;
  --font: Inika;
  --size-xsmall: 0.875em; /* 14px */
  --size-small: 1em; /* 16px */
  --size-medium: 1.25em; /* 20px */
  --size-large: 1.5em; /* 24px */
  --size-xlarge: 2em; /* 32px */
}

.bg {
  background: var(--color-primary);
}

.bg-dark {
  background: var(--color-primary-dark);
}

.bg-light {
  background: var(--color-primary-light);
}

.dark {
  color: var(--text-color-dark);
}

.light {
  color: var(--text-color-light);
}

#bg {
  background: var(--color-primary);
}

.flex {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-part {
  flex: 1 0 0;
}

.two-part {
  flex: 2 0 0;
}

.three-part {
  flex: 3 0 0;
}

.half {
  min-width: 50%;
}

.textbox {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  border: 0px;
}

.pixel-art {
  image-rendering: pixelated;
}

/* Spacing rules */

.no-space {
  margin: 0px;
  padding: 0px;
}

.top-space {
  margin-top: 8px;
}

.side-space {
  margin-left: 8px;
  margin-right: 8px;
}

/* Text classes */

.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: var(--font);
  text-align: center;
}

.text-xsmall {
  font-family: var(--font);
  font-size: var(--size-xsmall);
}

.text-small {
  font-family: var(--font);
  font-size: var(--size-small);
}

.text-medium {
  font-family: var(--font);
  font-size: var(--size-medium);
}

.text-large {
  font-family: var(--font);
  font-size: var(--size-large);
}

.text-xlarge {
  font-family: var(--font);
  font-size: var(--size-xlarge);
}

.text-error {
  color: var(--text-error);
}

.cursor {
  cursor: pointer;
}

/* Button classes */

.button,
.switch-view-button, 
.switch-view-button-fixed {
  color: var(--text-color-light);
  font-family: var(--font);
  background: var(--color-accent);
  border: 0px;
  border-radius: 8px;
  text-align: center;
  appearance: button;
  text-decoration: none;
  cursor: pointer;
}

.switch-view-button-fixed {
  border-radius: 0px;
  position: fixed;
  width: 100%;
}

.switch-view-button {
  border-radius: 0px;
  width: 100%;
}

/* Other classes */

.checkbox {
  width: 20px;
  height: 20px;
}

/* Don't use default purple visited color, as it clashes with colors on the site */
a:visited { 
  color: #000055;
}

/* Apply light grey color to our buttons that have a tags */
a:visited.button { 
  color: var(--text-color-light);
}

/* Rules that allow for better resizing of the content */

img {
  max-width: 100%;
  object-fit: contain;
}

pre {
  white-space: pre-wrap;
}

p {
  word-break: break-word;
}

table {
  overflow-wrap: anywhere;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

/* keep at bottom of css! */
[v-cloak] {
  display: none;
}