<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Manage Posts and Drafts</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg">
    <main id="app" class="flex-v" v-cloak>
      <a v-if="isAuthenticated === true" class="button text-large button-center" href="index.html">Return to Main Page</a>

      <!-- Drafts -->
      <p v-if="isAuthenticated === true" class="title light text-large">Your drafts</p>

      <div v-if="isAuthenticated === true" class="post flex bg-light top-space" v-for="post in orderedDrafts">
        <div class="one-part">
          <a :href="post.link"> {{ post.title }}</a>
          <br>
          <pre class="dark text-xsmall">{{ post.originalContent }}</pre>
        </div>
        <a class="button button-option text-medium side-space" :href="`/upload.html?localUrl=${post.localUrl}`"><p>Edit draft</p></a>
        <button v-if="!post.requestDeletion" class="button button-option text-medium side-space" @click="deleteDraft(post)"><p>Delete draft</p></button>
        <button v-if="post.requestDeletion" class="button button-option text-medium side-space" @click="deleteDraft(post)"><p>Are you sure?</p></button>
      </div>

      <!-- Posts -->
      <p v-if="isAuthenticated === true" class="title light text-large">Your posts</p>

      <div v-if="isAuthenticated === true" class="post flex bg-light top-space" v-for="post in orderedPosts">
        <div class="one-part">
          <a :href="post.link"> {{ post.title }}</a>
          <br>
          <pre class="dark text-xsmall">{{ post.originalContent }}</pre>
        </div>
        <a class="button button-option text-medium side-space" :href="`/upload.html?localUrl=${post.localUrl}`"><p>Edit post</p></a>
        <button v-if="!post.requestDeletion" class="button button-option text-medium side-space" @click="deletePost(post)"><p>Delete post</p></button>
        <button v-if="post.requestDeletion" class="button button-option text-medium side-space" @click="deletePost(post)"><p>Are you sure?</p></button>
      </div>

      <img style="height: 100%" class="pixel-art top-space" alt="A drawing of CuRSSor the Skiltaire, sleeping happily at the bottom of the post list" src="/curssor/curssor-sleeping.png"></img>

    </main>
  </body>

  <script type="module">
    Vue.createApp({
      data () {
        return {
          posts: [],
          drafts: [],
          performAction: false,
          isAuthenticated: null,
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
        const resultPosts = await axios.get("/api/post", {});
        this.posts = resultPosts.data.posts
        const resultDrafts = await axios.get("/api/post/draft", {});
        this.drafts = resultDrafts.data.posts
      },
      computed: {
        orderedDrafts: function () {
          return this.drafts.sort((a, b) => {
            return new Date(b.published) - new Date(a.published)
          });
        },
        orderedPosts: function () {
          return this.posts.sort((a, b) => {
            return new Date(b.published) - new Date(a.published)
          });
        }
      },
      methods: {
        async deleteDraft (post) {
          if (this.performAction) {
            return;
          }
          if (!post.requestDeletion) {
            post.requestDeletion = true;
          } else {
            // prepare deletion. prevent pressing delete button again
            this.performAction = true;
            await axios.delete('/api/post/discard', {
              data: {
                post: post,
              }
            });
            window.location.href = '/manage.html';
          }
        },
        async deletePost (post) {
          if (this.performAction) {
            return;
          }
          if (!post.requestDeletion) {
            post.requestDeletion = true;
          } else {
            // prepare deletion. prevent pressing delete button again
            this.performAction = true;
            await axios.delete('/api/post', {
              data: {
                post: post,
              }
            });
            window.location.href = '/manage.html';
          }
        },
        returnToMain () {
          window.location.href = '/index.html';
        }
      }
    }).mount('#app');

  </script>

  <style>
    .button-center {
      width: 50%;
      align-self: center;
    }

    .button-option {
      align-self: center;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    /* media queries + changing layout of HTML based on screen size */

    @media only screen and (max-width: 1000px) {

    }

    @media only screen and (max-width: 600px) {
      .post {
        flex-direction: column;
      }
    }

  </style>
</html>
