<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Manage Custom Pages and Files</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg">
    <div id="app" class="flex-v" v-cloak>
      <a v-if="isAuthenticated === true" class="button text-large button-center" href="index.html">Return to Main Page</a>
      <p v-if="isAuthenticated === true" class="title light text-xlarge">Your Custom Pages</p>

      <div v-if="isAuthenticated === true && selectedPage">
        <div class="flex page">
          <!-- edit a page -->
          <div class="one-part flex-v">
            <!-- HTML input -->
            <label for="htmlInput" class="title light text-large">File goes here!</label>
            <textarea id="htmlInput" class="html-input bg light" cols="60" rows="30" v-model="selectedPage.content"></textarea>
          </div>

          <div class="one-part flex-v">
            <!-- HTML input -->
            <p class="title light text-large">Rendering goes here!</p>
            <iframe :srcdoc="debouncedSelectedPageContent" title="Layout Render"></iframe> 
          </div>
        </div>

        <div class="flex top-space" style="justify-content: space-evenly; width: 50%;">
          <button @click="savePage" class="button text-large one-part side-space">Save page</button>
          <button @click="discardPage" class="button text-large one-part side-space">Discard changes</button>
        </div>
      </div>

      <div v-if="isAuthenticated === true">
        <!-- make a new page -->
        <p class="title light text-large">Make a New Page</p>
        <div class="flex-center">
          <label for="title" class="title light text-large">URL Name</label>
          <input class="textbox bg-dark light one-part text-large side-space" id="title" v-model="pageName">
          <button @click="makeNewPage" class="button text-large">Create new page</button>
        </div>
        <p class="light text-medium no-space">Use "/" in the name to make new directories</p>
      </div>

      <!-- page list --> 
      <div v-if="isAuthenticated === true">
        <p class="title light text-large">Page List</p>
        <div class="center">
          <label for="showCriticalFiles" class="title text-error text-large" style="display:inline">Show files critical to Cakelandish (editing carelessly may permanently break your server!)</label>
          <input id="showCriticalFiles" type="checkbox" class="checkbox" v-model="showImportantFiles">
        </div>

        <div class="flex-center">
          <label tabindex="0" role="button" @keydown.enter="$refs.uploadRootFile.click()" for="file-upload-static" class="flex-center button">
            <p class="title light text-medium side-space">Upload file to static folder</p>
          </label>
          <input ref="uploadRootFile" id="file-upload-static" accept="*" class="hidden" type="file" @change="uploadFile($event, {url: ''})" multiple/>
        </div>

        <p v-if="uploadsInProgress.size !== 0" class="title light text-small">Currently uploading:</p>
        <div v-for="upload in Array.from(uploadsInProgress)">
          <p class="title light text-small">{{ upload }}</p>
        </div>

        <!-- list each file and directory -->
        <!-- use :key binding passing in properties unique to the page, to tell Vue how to render the hierarchy of pages when a change happens -->
        <static-file
          :key="page.url"
          :page="page"
          @edit-page="editPage"
          @delete-page="deletePage"
          @upload-file="uploadFile"
          :show-important-files="showImportantFiles"
          v-for="page in pages">
        </static-file>

      </div>

    </div>
  </body>

  <script type="module">
    import StaticFile from "./components/StaticFile.js";

    Vue.createApp({
      components: {
        StaticFile
      },
      data () {
        return {
          pageName: "",
          pages: [],
          selectedPage: null,
          oldPageContents: "",
          performAction: false,
          isAuthenticated: null,
          showImportantFiles: false,
          uploadsInProgress: new Set(),
          debounceTimer: null,
          debouncedSelectedPageContent: "",
        }
      },
      watch: {
        'selectedPage.content'() {
          if (this.debounceTimer) {
            clearTimeout(this.debounceTimer);
          }
          this.debounceTimer = setTimeout(() => {
            this.debouncedSelectedPageContent = this.selectedPage.content;
          }, 1000);
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
        await this.getPages();
      },
      methods: {
        async getPages () {
          const result = await axios.get("/api/page");
          this.pages = result.data.pages;
        },
        async makeNewPage () {
          try {
            await axios.post('/api/page', {
              name: this.pageName,
            });
            this.pageName = "";
            await this.getPages();
          } catch (err) {
            console.log(err);
            if (err.response.data.error) { 
              alert(err.response.data.error);
            }
          }
        },
        async editPage (page) {
          if (this.selectedPage) {
            this.discardPage();
          }
          this.selectedPage = page;
          this.oldPageContents = this.selectedPage.content;
        },
        async deletePage (page) {
          if (this.performAction) {
            return;
          }
          if (!page.requestDeletion) {
            page.requestDeletion = true;
          } else {
            // prepare deletion. prevent pressing delete button again
            this.performAction = true;
            try {
              await axios.delete('/api/page', {
                data: {
                  page: page,
                }
              });
              await this.getPages();
            } catch (err) {
              console.log(err);
            }
            this.performAction = false;
          }
        },
        async discardPage () {
          this.selectedPage.content = this.oldPageContents;
          this.selectedPage = null;
          this.oldPageContents = "";
        },
        async savePage () {
          try {
            await axios.put('/api/page', {
              page: this.selectedPage,
            });
            this.selectedPage = null;
            this.oldPageContents = "";
            await this.getPages();
          } catch (err) {
            console.log(err);
          }
        },
        async uploadFile (event, page) {
          const formData = new FormData();
          for (let i = 0; i < event.target.files.length; i++) {
            const file = event.target.files[i];
            formData.append('myFile', file);
            this.uploadsInProgress.add(file.name);
          }
          formData.append('pageUrl', page.url);

          const results = await axios.post('/api/page/file', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          });

          for (let file of results.data.files) {
            this.uploadsInProgress.delete(file);
          }
          
          await this.getPages();
        },
        returnToMain () {
          window.location.href = '/index.html';
        }
      }
    }).mount('#app');

  </script>

  <style>
    .button-center {
      width: 50%;
      align-self: center;
    }

    .html-input {
      margin-right: 10px;
      margin-bottom: 10px;
      resize: vertical;
    }

    .hidden {
      display: none;
    }

    iframe {
      height: 100%;
      flex-grow: 1;
      margin-right: 10px;
      background: #FFFFFF;
    }

    /* media queries + changing layout of HTML based on screen size */

    @media only screen and (max-width: 1000px) {
      .page {
        flex-direction: column;
      }

      iframe {
        height: 600px;
      }
    }

  </style>
</html>
