<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <script src="/lib/vue.js"></script>
    <script src="/lib/axios.min.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body id="bg">
    <div id="app" class="flex" v-cloak>

      <!-- switch view button for smaller screen sizes -->
      <button v-if="screen !== 'lg' && isAuthenticated" class="button switch-view-button" @click="switchViews">{{ currentViewText }}</button>

      <!-- left side -->
      <div id="side" v-if="isAuthenticated === true && (screen === 'lg' || currentView === 'input')" class="half flex-v">
        <!-- HTML input -->
        <p class="center title">HTML goes here!</p>
        <textarea class="html-input textarea" rows="30" v-model="htmlInput" @input="sanitizeDebounce"></textarea>

        <!-- RSS override -->
        <button class="button rss-override" @click="toggleRssOverride">Toggle RSS Override</button>
        <div v-if="showRssOverride" class="flex-v">
          <p class="tiny-text">Enabling RSS Override means you want to put different content in your RSS post than the content that is stored on your server. You should keep as much of the same content in your RSS post as possible. Only enable this if you want to include more intricate styling and functionality than what the RSS reader allows for those who visit your server!</p>
          <textarea class="html-input textarea" rows="30" v-model="rssInput" @input="sanitizeDebounce"></textarea>
        </div>

        <p class="tiny-text">Be aware that full URLs are used for images so that RSS feeds link the images properly. Make sure your server is setup on a permanent address before making posts!</p>

        <!-- post info -->
        <div class="form">
          <label for="title" class="title">Title</label>
          <input class="textbox" id="title" v-model="title">
        </div>

        <div class="form">
          <label for="replyFeed" class="title">Reply Feed URL</label>
          <input class="textbox" id="replyFeed" v-model="replyFeedUrl">
        </div>

        <div class="form">
          <label for="replyId" class="title">Reply Post ID URL</label>
          <input class="textbox" id="replyId" v-model="replyPostIdUrl">
        </div>

        <!-- Embed Reply info + button -->
        <p v-if="this.replyFeedUrl && this.replyPostIdUrl && showEmbedButton" class="tiny-text">Clicking this button will fetch the contents of the post you're replying to and then bake them into your site's post. This makes it so that viewers of your site can have the context of your post without needing the RSS link parsing logic of Cakelandish to render it. Press this button only when you're finished making your post, as this will turn on RSS override to prevent the parent post from also appearing in your feed file. Pressing the button multiple times will proceed to load additional parent posts if they are found.</p>
        <button v-if="this.replyFeedUrl && this.replyPostIdUrl && showEmbedButton" class="button embed-button" @click="embedReply">Embed Reply in Post</button>

        <!-- tag management + upload -->
        <div class="tag-management">

          <div class="form third flex-v">

            <!-- tag form -->
            <div class="tag-form form">
              <div class="flex form">
                <label for="tag" class="title">Tags</label>
                <input class="textbox tag-input shrinkable-input" id="tag" v-model="tag">
              </div>

              <div class="flex form">
                <select class="tag-select shrinkable-input" @change="chooseTag">
                  <option value="">Used tags</option>
                  <option v-for="tag in existingTags">{{ tag }}</option>
                </select>
                <button class="button tag-button" @click="addTag">Add tag</button>
              </div>
            </div>

            <!-- upload media form -->
            <div class="form">
              <label for="file-upload" class="file form file-upload-images">
                <p class="flex-center">Upload media</p>
              </label>
              <input id="file-upload" accept="image/*" type="file" @change="filesSubmitted" multiple/>
            </div>

            <p v-if="uploadsInProgress.size !== 0" class="tiny-text">Currently uploading:</p>
            <div v-for="upload in Array.from(uploadsInProgress)">
              <p class="tiny-text">{{ upload }}</p>
            </div>

          </div>

          <div class="two-third">
            <div class="form" v-for="(t, index) in tags">
              <p class="tiny-text half"><b>{{ t }}</b></p>
              <button class="button half" @click="removeTag(index)">Remove</button>
            </div>
          </div>
        </div>
        
      </div>

      <!-- right side -->
      <div id="side" v-if="isAuthenticated === true && (screen === 'lg' || currentView === 'output')" class="half flex-v">
        <p class="center title">How it renders on your site:</p>
        <iframe :srcdoc="debouncedHtmlInputLayoutApplied" class="html-output iframe" title="Layout Render"></iframe> 
        <p class="center title">How it renders on your server's RSS reader:</p>
        <p class="tiny-text">Dangerous / unnecessary tags such as script and style are removed in sanitiation. Be aware of this as this is how users will see your post using this server's RSS reader. Style whitelists can be made in the future but the sanitation library being used limits to explicit values set for styling. Only basic colors are supported with inline styling for certain tags.</p>
        <span v-html="htmlOutput" class="html-output"></span>

        <div class="form" style="justify-content: space-around;">
          <button v-if="!localUrl" class="button submit-button" @click="submitPost">Submit Post</button>
          <button v-if="localUrl" class="button submit-button" @click="submitPost">Update Post</button>
          <button class="button discard-button" @click="discardPost">Discard Post</button>
        </div>
      </div>

      <div v-if="isAuthenticated === false" class="half flex-v">
        <p class="title center margin-center">You are not authorized to view this page</p>
      </div>

    </div>
  </body>

  <script type="module">
    import * as util from "./util.js";

    Vue.createApp({
      data () {
        return {
          htmlInput: "Hello <i>World!</i>",
          rssInput: "Hello <i>World!</i>",
          htmlOutput: "",
          title: "",
          // use this until the user decides to submit the post, then use the real title
          tmpTitle: "", 
          replyFeedUrl: "",
          replyPostIdUrl: "",
          tags: [],
          tag: "",
          sanitizeDebounce: this.debounce(this.sanitizeHtml),
          localUrl: "",
          published: "",
          performAction: false,
          showRssOverride: false,
          isAuthenticated: null,
          layout: "",
          existingTags: [],
          screen: "lg",
          currentView: "input",
          currentViewText: "Show Output",
          uploadsInProgress: new Set(),
          currentReplyFeedUrl: null,
          currentReplyPostIdUrl: null,
          showEmbedButton: true,
          isRunningEmbedReply: false,
          debounceTimer: null,
          debouncedHtmlInputLayoutApplied: "",
        }
      },
      watch: {
        // reset embed button show status if changing the feed/id urls
        replyFeedUrl() {
          this.showEmbedButton = true;
          this.currentReplyFeedUrl = null;
          this.currentReplyPostIdUrl = null;
        },
        replyPostIdUrl() {
          this.showEmbedButton = true;
          this.currentReplyFeedUrl = null;
          this.currentReplyPostIdUrl = null;
        },
        htmlInputLayoutApplied() {
          if (this.debounceTimer) {
            clearTimeout(this.debounceTimer);
          }
          this.debounceTimer = setTimeout(() => {
            this.debouncedHtmlInputLayoutApplied = this.htmlInputLayoutApplied;
          }, 1000);
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
        this.screen = util.widthToScreenSize(window.innerWidth);
        window.addEventListener('resize', () => {
          this.screen = util.widthToScreenSize(window.innerWidth);
        });

        // hash that may appear in post IDs not included in search string. append it
        let uri = window.location.search + window.location.hash; 
        let params = new URLSearchParams(uri);

        this.replyFeedUrl = params.get('feedurl');
        this.replyPostIdUrl = params.get('id');
        this.localUrl = params.get('localUrl');

        this.layout = (await axios.get('/api/layout')).data.layout;
        this.existingTags = (await axios.get('/api/tag')).data.tags;

        // if localUrl is defined we are editing a post
        if (this.localUrl) {
          const result = await axios.post("/api/post/init", {
            localUrl: this.localUrl,
          });
          const foundPost = result.data.post;
          if (!foundPost) {
            return;
          }
          this.htmlInput = foundPost.originalContent;
          this.rssInput = foundPost.content;
          this.title = foundPost.title;
          this.tmpTitle = result.data.name;
          this.replyFeedUrl = foundPost.replyFeedUrl;
          this.replyPostIdUrl = foundPost.replyPostIdUrl;
          this.tags = foundPost.categories;
          this.published = foundPost.published;
          if (this.htmlInput !== this.rssInput) {
            // different data stored in html and rss. toggle on RSS Override
            this.showRssOverride = true;
          }
          this.sanitizeHtml();
        } else {
          this.sanitizeHtml();

          const result = await axios.post("/api/post/init", {});
          this.title = result.data.name;
          this.tmpTitle = this.title;
        }
      },
      computed: {
        htmlInputLayoutApplied: function () {
          // perform replacements for various metadata in the post object
          let modifiedContent = this.layout.replace(
            new RegExp("%%%content%%%", "g"),
            this.htmlInput,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%published%%%", "g"),
            new Date(Date.now()),
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%updated%%%", "g"),
            new Date(Date.now()),
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%categories%%%", "g"),
            this.tags,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%title%%%", "g"),
            this.title,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%localUrl%%%", "g"),
            this.localUrl,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%replyFeedUrl%%%", "g"),
            this.replyFeedUrl,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%replyPostIdUrl%%%", "g"),
            this.replyPostIdUrl,
          );

          return modifiedContent;
        }
      },
      methods: {
        toggleRssOverride () {
          this.showRssOverride = !this.showRssOverride;
        },
        async sanitizeHtml () {
          if (!this.showRssOverride) {
            this.rssInput = this.htmlInput;
          }
          const output = await axios.post("/api/sanitize", {
            html: this.rssInput
          });
          // apply layout

          this.htmlOutput = output.data;
        },
        addTag () {
          if (this.tag.length === 0) return;
          if (this.tags.includes(this.tag)) return;
          this.tags.push(this.tag.trim().toLowerCase());
          this.tag = "";
        },
        removeTag (index) {
          this.tags.splice(index, 1);
        },
        async filesSubmitted (event) {
          let imageTypes = ["apng", "avif", "gif", "jpeg", "jpg", "png", "svg", "webp", "bmp"];
          let audioTypes = ["wav", "ogg", "mp3"];
          let videoTypes = ["webm", "mp4"];

          const formData = new FormData();
          const contentTypes = [];
          for (let i = 0; i < event.target.files.length; i++) {
            const file = event.target.files[i];
            contentTypes.push(file.type);
            formData.append('myFile', file)
            this.uploadsInProgress.add(file.name);
          }

          const results = await axios.post('/api/upload', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            }
          });
          for (let file of results.data.files) {
            this.uploadsInProgress.delete(file.split("/")[file.split("/").length - 1]);
            // smartly create different elements depending on the file type submitted
            const extension = file.split(".").reverse()[0];

            if (imageTypes.includes(extension)) {
              this.htmlInput += `\n<img src="${file}"></img>`
            } else if (audioTypes.includes(extension)) {
              this.htmlInput += `\n<audio controls>
  <source src="${file}">
</audio>`
            } else if (videoTypes.includes(extension)) {
              this.htmlInput += `\n<video controls>
  <source src="${file}" type="video/${extension}">
</video>`
            } else {
              this.htmlInput += `\n<a href="${file}">${file.split("/").reverse()[0]}</a>` // default to using a link
            }
            
          }
          this.sanitizeHtml();
        },
        async submitPost () {
          if (this.performAction) {
            return;
          }
          this.performAction = true;
          let postObj = {
            htmlContent: this.htmlInput,
            // sanitizing the html input can change its typing out of string. apparently
            rssContent: "" + this.htmlOutput,
            title: this.title,
            tmpTitle: this.tmpTitle,
            replyFeedUrl: this.replyFeedUrl,
            replyPostIdUrl: this.replyPostIdUrl,
            tags: this.tags,
            localUrl: this.localUrl, // for editing a post
            published: this.published,
          }

          try {
            if (this.localUrl) { // edit an existing post
              await axios.put("/api/post", postObj);
            } else {
              await axios.post("/api/post", postObj);
            }
          } catch (err) {
            console.error(err);
            this.performAction = false;
          }

          window.location.href = '/'; // take back to main page when finished
        },
        async discardPost () {
          if (this.performAction) {
            return;
          }
          this.performAction = true;

          try {
            await axios.delete("/api/post/discard", {});
          } catch (err) {
            console.error(err);
            this.performAction = false;
          }
          
          window.location.href = '/'; // take back to main page when finished
        },
        chooseTag (event) {
          this.tag = event.target.value;
        },
        debounce (func, timeout = 500){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
          };
        },
        switchViews () {
          if (this.currentView === "input") {
            this.currentView = "output";
            this.currentViewText = "Show Input"
          } else if (this.currentView === "output") {
            this.currentView = "input";
            this.currentViewText = "Show Output"
          }
        },
        async embedReply () {
          if (this.isRunningEmbedReply) {
            return;
          }
          this.isRunningEmbedReply = true;

          try {
            if (!this.currentReplyFeedUrl || !this.currentReplyPostIdUrl) {
              this.currentReplyFeedUrl = this.replyFeedUrl;
              this.currentReplyPostIdUrl = this.replyPostIdUrl;
            }
            if (!this.currentReplyFeedUrl || !this.currentReplyPostIdUrl) {
              return;
            }

            const repliedToPost = await this.loadReplyTo(this.currentReplyFeedUrl, this.currentReplyPostIdUrl);
            if (repliedToPost && repliedToPost.entry) {
              // render the RSS post contents and insert them into the site's HTML
              // this must not show up in the RSS feed. only show it on the site!
              this.showRssOverride = true;
              this.htmlInput += `\n<hr><a href="${repliedToPost.entry.id}">Original post</a>\n<div style="margin-left:20px">\n${repliedToPost.entry.content}\n</div>`;

              // got a valid post. check if there's another parent post attached and allow the ability to render THAT parent post too
              const {parsedFeed, originalLink} = await util.extractFeedLinks(repliedToPost.entry);
              
              if (parsedFeed !== null && originalLink !== null) {
                this.currentReplyFeedUrl = parsedFeed.url;
                this.currentReplyPostIdUrl = originalLink;
              } else {
                this.currentReplyFeedUrl = null;
                this.currentReplyPostIdUrl = null;
                this.showEmbedButton = false;
              }
            } else {
              alert("Unable to locate replied to post.");
              this.currentReplyFeedUrl = null;
              this.currentReplyPostIdUrl = null;
              this.showEmbedButton = false;
            }
          } catch (err) {
            console.error(err);
          }

          this.isRunningEmbedReply = false;
        },
        async loadReplyTo(replyFeedUrl, replyPostIdUrl) {
          if (!replyFeedUrl) {
            return;
          }
          // extract the link information from the feed url, determine if the links are valid, and if so get the feed information from the links
          let parsedFeed = null;

          const result = await axios.post("/api/query/feed", {
            url: replyFeedUrl,
          });

          const maybeParsed = (await util.parseFeeds(result.data.feed))[0];
          // successful parse indicates it's a proper feed link
          if (maybeParsed.success) {
            parsedFeed = maybeParsed;
          }

          if (parsedFeed === null) {
            console.error("Failed to parse the provided feed.");
            return;
          }

          // find the ID defined by the url of the original post
          const originalPost = await util.findTargetPost(parsedFeed, replyPostIdUrl);
          if (originalPost === null) {
            // failed to render the reply
            console.error("Failed to parse the provided feed.");
            return;
          }

          return originalPost;
        }
      }
    }).mount('#app');

  </script>

  <style>
    body {
      margin: 0px;
    }

    #bg {
      background: #1B2327;
    }

    #file-upload {
      display: none;
    }

    .textarea { 
      resize: vertical; 
    }

    .file-upload-images {
      border-radius: 8px;
    }

    .flex-center {
      flex-grow: 1;
      text-align: center;
    }

    .form {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    .two-third {
      margin-left: 10px;
    }

    .half {
      margin-left: 10px;
      margin-right: 10px;
    }

    .tag-input {
      width: 200px;
    }

    .button {
      margin-left: 20px;
      height: 30px;
      font-size: 14px;
    }

    .embed-button {
      margin-left: 20px;
      margin-right: 20px;
    }

    .file {
      height: 30px;
      color: #d2d2d2;
      font-family: Inika;
      font-size: 14px;
      background: #382f27;
      width: 200px;
      margin-top: 5px;
    }

    .tag-button {
      width: 100px;
    }

    .upload-button {
      margin-top: 5px;
      width: 200px;
    }

    .submit-button {
      margin-top: 15px;
      width: 300px;
    }

    .discard-button {
      margin-top: 15px;
      width: 150px;
      font-size: 14px;
    }

    .html-input {
      background: #273038;
      flex-grow: 1;
      color: #d2d2d2;
      margin-bottom: 10px;
    }

    .html-output {
      background: #273038;
      flex-grow: 1;
      color: #d2d2d2;
    }

    .rss-override {
      align-self: center;
    }

    .tag-select {
      margin-left: 20px;
      height: 30px;
      color: #d2d2d2;
      font-family: Inika;
      font-size: 24px;
      background: #273038;
      border: 0px;
      flex-grow: 1;
    }

    .switch-view-button {
      margin: 0px;
    }

    .tag-management {
      display: flex;
      flex-direction: column;
    }

    .tag-form {
      display: flex;
    }

    .shrinkable-input {
      min-width: 200px;
      width: 100%;
    }

    .iframe {
      height: 600px; /* best easy option atm */
    }

    /* media queries + changing layout of HTML based on screen size */

    @media only screen and (max-width: 1200px) {
      .title {
        font-size: 24px;
      }
      .submit-button {
        width: 150px;
      }
    }

    @media only screen and (max-width: 1000px) {
      #side {
        padding-top: 30px;
      }
    }

    @media only screen and (max-width: 600px) {
      .title {
        font-size: 16px;
      }
      .textbox {
        font-size: 16px;
      }
      .tag-select {
        font-size: 16px;
      }
      .tag-form {
        flex-direction: column;
      }
    }

  </style>
</html>