<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
    <title>Create and Edit Posts and Drafts</title>
    <script src="/lib/vue.global.prod.js"></script>
    <script src="/lib/axios.min.js"></script>
    <script src="/lib/suneditor.min.js"></script>
    <script src="/lib/katex.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/lib/suneditor.min.css">
    <link rel="stylesheet" href="/lib/katex.min.css">
  </head>

  <body id="bg">
    <div id="app" class="flex-v" v-cloak>

      <switch-view-component-upload
        :screen="screen"
        :is-authenticated="isAuthenticated"
        left-view-name="Show Input"
        right-view-name="Show Output">

        <template v-slot:left-side>
          <div class="flex-v one-part side-space">
            <!-- HTML input -->
            <label for="htmlInput" class="title light text-large">HTML goes here!</label>
            <textarea id="htmlInput" v-if="!showGuiEditor" class="bg light textarea" rows="30" v-model="htmlInput" @input="sanitizeDebounce"></textarea>

            <div v-show="showGuiEditor" class="bg-light" style="height: 600px">
              <textarea id="suneditor"></textarea>
            </div>

            <!-- RSS override -->
            <div class="flex">
              <button class="button text-medium top-space one-part side-space" @click="toggleGuiEditor">
                {{ guiSwitchButtonText }}
              </button>
              <button class="button text-medium top-space one-part side-space" @click="toggleRssOverride">
                Toggle RSS Override
              </button>
            </div>
            <div v-if="showGuiEditor" class="light">
              <p class="text-xsmall">
                The sun editor view is very experimental! Note that what is displayed there will not carry its styles over to the rendered post. Its primary use is to quickly let you construct HTML. The content in the editor will not carry over to your post: what you must do is select the 'code view' block at the end of the toolbar, copy the HTML the editor generates, then switch back to the raw HTML view to paste it there.
              </p>
            </div>
            <div v-if="showRssOverride" class="flex-v light">
              <p class="text-xsmall">Enabling RSS Override means you want to put different content in your RSS post than the content that is stored on your server. You should keep as much of the same content in your RSS post as possible. Only enable this if you want to include more intricate styling and functionality than what the RSS reader allows for those who visit your server!</p>
              <textarea class="bg light textarea" rows="30" v-model="rssInput" @input="sanitizeDebounce"></textarea>
            </div>

            <p class="light text-xsmall">Be aware that full URLs are used for images so that RSS feeds link the images properly. Make sure your server is setup on a permanent address before making posts!</p>

            <!-- post info -->
            <div class="flex-center">
              <label for="title" class="title light text-medium">Title</label>
              <input class="textbox bg light one-part text-medium side-space" id="title" v-model="title">
            </div>

            <div class="flex-center">
              <label for="replyFeed" class="title light text-medium">Reply Feed URL</label>
              <input class="textbox bg light one-part text-medium side-space" id="replyFeed" v-model="replyFeedUrl">
            </div>

            <div class="flex-center">
              <label for="replyId" class="title light text-medium">Reply Post ID URL</label>
              <input class="textbox bg light one-part text-medium side-space" id="replyId" v-model="replyPostIdUrl">
            </div>

            <!-- Embed Reply info + button -->
            <p v-if="this.replyFeedUrl && this.replyPostIdUrl && showEmbedButton" class="light text-xsmall">Clicking this button will fetch the contents of the post you're replying to and then bake them into your site's post. This makes it so that viewers of your site can have the context of your post without needing the RSS link parsing logic of Cakelandish to render it. Press this button only when you're finished making your post, as this will turn on RSS override to prevent the parent post from also appearing in your feed file. Pressing the button multiple times will proceed to load additional parent posts if they are found.</p>
            <button v-if="this.replyFeedUrl && this.replyPostIdUrl && showEmbedButton" class="button text-medium" @click="embedReply">Embed Reply in Post</button>

            <!-- tag management + upload -->
            <div class="top-space">

              <div class="flex-v">
                <!-- tag form -->
                <div class="flex tag-form">
                  <div class="flex one-part">
                    <label for="tag" class="title light text-medium">Tags</label>
                    <input class="textbox bg light text-medium side-space one-part" id="tag" v-model="tag">
                  </div>

                  <div class="flex one-part used-tags-form">
                    <select aria-label="Used tags" class="textbox bg light text-medium one-part" @change="chooseTag" aria-label="Used tags">
                      <option value="">Used tags</option>
                      <option v-for="tag in existingTags">{{ tag }}</option>
                    </select>
                    <button class="button text-medium side-space" @click="addTag">Add tag</button>
                  </div>
                </div>

                <!-- upload media form -->
                <div>
                  <label tabindex="0" role="button" @keydown.enter="$refs.uploadMedia.click()" for="file-upload" class="button text-medium one-part cursor flex-center top-space">
                    Upload media
                  </label>
                  <input ref="uploadMedia" id="file-upload" accept="*" type="file" @change="filesSubmitted" multiple/>
                </div>

                <p v-if="uploadsInProgress.size !== 0" class="light text-xsmall flex-center">Currently uploading:</p>
                <div class="light text-xsmall flex-center" v-for="upload in Array.from(uploadsInProgress)">
                  {{ upload }}
                </div>

                <p v-if="uploadedFiles.length !== 0" class="light text-small flex-center">All uploaded files. Click on one to embed it into the post automatically.</p>
                <div class="flex" v-for="fileName in uploadedFiles">
                  <p class="cursor text-xsmall one-part light no-space top-space" @click="insertEmbedFromFile(fileName)">{{ fileName }}</p>
                  <p class="cursor center text-xsmall light no-space top-space side-space" @click="deleteUpload(fileName)">Delete</p>
                </div>

                <!-- OGP metadata form -->
                <div class="flex-v">
                  <button class="button text-medium top-space" @click="toggleOgpMetadata">Create OGP Metadata</button>
                  <div v-if="showOgpMetadata" class="flex-v light">
                    <p class="text-xsmall"><a href="https://ogp.me/">OGP metadata</a> allows for rich media presence when linking the page of this post to other websites. Realistically other sites only support the image formats, but Cakelandish will let you select video and audio files as well. As a bonus, the media selected here will be embedded along with page description text on your main page so the post is not just a simple title linked to the webpage!</p>

                    <div class="flex">
                      <label class="text-small no-space top-space" for="webpageDescription">Webpage Description</label>
                      <input class="textbox bg light text-xsmall side-space one-part" id="webpageDescription" v-model="ogpExtra.description">
                    </div>

                    <p v-if="uploadedFiles.length !== 0" class="light text-small flex-center">All uploaded files. Add description text to the media or select the checkbox to embed it on the main page post.</p>
                    <div class="flex-v" v-for="media in ogpExtra.mediaData">
                      <div class="flex">
                        <p class="text-xsmall one-part light no-space top-space">{{ media.url }}</p>
                        <label class="text-xsmall no-space top-space" :for="'embedMedia-' + media.url">Embed</label><br>
                        <input class="no-space top-space side-space" type="checkbox" :id="'embedMedia-' + media.url" v-model="media.embedMedia">
                      </div>

                      <div class="flex">
                        <label class="text-xsmall no-space top-space" style="margin-left: 20px" :for="'order-' + media.url">Ordering</label>
                        <input type="number" class="textbox bg light text-xsmall side-space" :id="'order-' + media.url" v-model="media.order" style="max-width: 40px">

                        <label class="text-xsmall no-space top-space" :for="'description-' + media.url">Media Description</label>
                        <input class="textbox bg light text-xsmall side-space one-part" :id="'description-' + media.url" v-model="media.description">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="top-space">
                <div class="flex-center" v-for="(t, index) in tags">
                  <p class="light text-xsmall one-part no-space top-space"><b>{{ t }}</b></p>
                  <button class="button text-small one-part" @click="removeTag(index)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </template>

        <template v-slot:right-side>
          <div class="flex-v one-part side-space">
            <p class="title light text-large">How it renders on your site:</p>
            <iframe :srcdoc="debouncedHtmlInputLayoutApplied" class="iframe" title="Layout Render"></iframe> 
            <p class="title light text-large">How it renders on your server's RSS reader:</p>
            <p class="light text-xsmall no-space">Dangerous / unnecessary tags such as script and style are removed in sanitization. Be aware of this as this is how users will see your post using this server's RSS reader.</p>

            <span class="bg light text-small top-space" v-html="htmlOutput"></span>

            <div class="flex button-action-group top-space" style="justify-content: space-around;">
              <button v-if="!localUrl || localUrl && localUrl.startsWith('/tmp/')" class="button button-spacing text-medium one-part side-space" @click="submitPost">Publish Post</button>
              <button v-else class="button button-spacing text-medium one-part side-space" @click="submitPost">Update Post</button>

              <button v-if="!localUrl || localUrl && localUrl.startsWith('/tmp/')" class="button button-spacing text-medium one-part side-space" @click="saveDraft">Save as Draft</button>
              <button v-else class="button button-spacing text-medium one-part side-space" @click="saveDraft">Copy as Draft</button>

              <button v-if="!localUrl" class="button button-spacing text-medium one-part side-space" @click="discardPost">Discard</button>
              <button v-else class="button button-spacing text-medium one-part side-space" @click="discardPost">Cancel</button>
            </div>
          </div>
        </template>

      </switch-view-component-upload>
    </div>
  </body>

  <script type="module">
    import * as util from "./util.js";
    import SwitchViewComponentUpload from "./components/SwitchViewComponentUpload.js";

    Vue.createApp({
      components: {
        SwitchViewComponentUpload
      },
      data () {
        return {
          htmlInput: "Hello <i>World!</i>",
          rssInput: "Hello <i>World!</i>",
          htmlOutput: "",
          title: "",
          // use this until the user decides to submit the post, then use the real title
          tmpTitle: "", 
          replyFeedUrl: "",
          replyPostIdUrl: "",
          tags: [],
          tag: "",
          sanitizeDebounce: this.debounce(this.sanitizeHtml),
          localUrl: "",
          published: "",
          performAction: false,
          showRssOverride: false,
          isAuthenticated: null,
          layout: "",
          existingTags: [],
          screen: "lg",
          currentView: "input",
          currentViewText: "Show Output",
          uploadsInProgress: new Set(),
          currentReplyFeedUrl: null,
          currentReplyPostIdUrl: null,
          showEmbedButton: true,
          isRunningEmbedReply: false,
          debounceTimer: null,
          debouncedHtmlInputLayoutApplied: "",
          uploadedFiles: [],
          showOgpMetadata: false,
          ogpExtra: {
            description: "",
            mediaData: [],
          },
          showGuiEditor: false,
          guiSwitchButtonText: "Switch to SunEditor",
          editor: null,
          temporaryCleanedHtml: "",
        }
      },
      watch: {
        // reset embed button show status if changing the feed/id urls
        replyFeedUrl() {
          this.showEmbedButton = true;
          this.currentReplyFeedUrl = null;
          this.currentReplyPostIdUrl = null;
        },
        replyPostIdUrl() {
          this.showEmbedButton = true;
          this.currentReplyFeedUrl = null;
          this.currentReplyPostIdUrl = null;
        },
        htmlInputLayoutApplied() {
          if (this.debounceTimer) {
            clearTimeout(this.debounceTimer);
          }
          this.debounceTimer = setTimeout(() => {
            this.debouncedHtmlInputLayoutApplied = this.htmlInputLayoutApplied;
          }, 1000);
        }
      },
      async created () {
        // check if authenticated
        try {
          await axios.get('/api/auth');
          this.isAuthenticated = true;
        } catch (err) {
          this.isAuthenticated = false;
          return;
        }
      },
      async mounted () {
        this.screen = util.widthToScreenSize(window.innerWidth);
        window.addEventListener('resize', () => {
          this.screen = util.widthToScreenSize(window.innerWidth);
        });

        // hash that may appear in post IDs not included in search string. append it
        let uri = window.location.search + window.location.hash; 
        let params = new URLSearchParams(uri);

        this.replyFeedUrl = params.get('feedurl');
        this.replyPostIdUrl = params.get('id');
        this.localUrl = params.get('localUrl');

        this.layout = (await axios.get('/api/layout')).data.layout;
        this.existingTags = (await axios.get('/api/tag')).data.tags;

        // if localUrl is defined we are editing a post
        if (this.localUrl) {
          const result = await axios.post("/api/post/init", {
            localUrl: this.localUrl,
          });
          const foundPost = result.data.post;
          if (!foundPost) {
            return;
          }
          this.htmlInput = foundPost.originalContent;
          this.rssInput = foundPost.content;
          this.title = foundPost.title;
          this.tmpTitle = result.data.name;
          this.replyFeedUrl = foundPost.replyFeedUrl;
          this.replyPostIdUrl = foundPost.replyPostIdUrl;
          this.tags = foundPost.categories;
          this.published = foundPost.published;

          // get uploaded files
          await this.getUploadedFiles();

          // transform ogpExtra data to be suitable for use on this page
          let ogpExtraData = foundPost.ogpExtra;
          if (!ogpExtraData) {
            ogpExtraData = {
              description: "",
              mediaData: this.uploadedFiles.map((f, index) => ({
                embedMedia: false,
                description: "",
                url: f,
                order: index
              })),
            }
          } else {
            ogpExtraData = {
              description: foundPost.ogpExtra.description,
              mediaData: this.uploadedFiles.map((f, index) => {
                const fileName = f.split("/").reverse()[0];
                const foundMedia = foundPost.ogpExtra.mediaData.find(m => m.absoluteUrl.split("/").reverse()[0] === fileName);
                return {
                  embedMedia: !!foundMedia,
                  description: foundMedia ? foundMedia.description : "",
                  url: f,
                  order: foundMedia ? foundMedia.order : index
                }
              }),
            }
          }
          this.ogpExtra.description = ogpExtraData.description;
          this.ogpExtra.mediaData = ogpExtraData.mediaData;
          
          if (this.htmlInput !== this.rssInput) {
            // different data stored in html and rss. toggle on RSS Override
            this.showRssOverride = true;
          }
          this.sanitizeHtml();
        } else {
          this.sanitizeHtml();

          const result = await axios.post("/api/post/init", {});
          this.title = result.data.name;
          this.tmpTitle = this.title;

          // get uploaded files
          await this.getUploadedFiles();
        }
      },
      computed: {
        htmlInputLayoutApplied: function () {
          // perform replacements for various metadata in the post object
          let modifiedContent = this.layout.replace(
            new RegExp("%%%content%%%", "g"),
            this.htmlInput,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%published%%%", "g"),
            new Date(Date.now()),
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%updated%%%", "g"),
            new Date(Date.now()),
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%categories%%%", "g"),
            this.tags,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%title%%%", "g"),
            this.title,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%localUrl%%%", "g"),
            this.localUrl,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%replyFeedUrl%%%", "g"),
            this.replyFeedUrl,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%replyPostIdUrl%%%", "g"),
            this.replyPostIdUrl,
          );
          modifiedContent = modifiedContent.replace(
            new RegExp("%%%link%%%", "g"),
            this.link,
          );
          let imageTypes = util.imageTypes();
          let audioTypes = util.audioTypes();
          let videoTypes = util.videoTypes();

          modifiedContent = modifiedContent.replace(
            new RegExp("%%%media%%%", "g"),
            // id mapping prevents the original array from being sorted and shuffling items around in the UI
            this.ogpExtra.mediaData ? this.ogpExtra.mediaData.map(id => id).sort((a, b) => a.order - b.order).map(m => {
              if (!m.embedMedia) {
                return "";
              }
              const extension = m.url.split(".").reverse()[0].toLowerCase();
              let output = "";
              if (m.url) {
                if (imageTypes.includes(extension)) {
                  output += `<meta property="og:image" content="${m.url}" />`
                  if (m.description) {
                    output += `<meta property="og:image:alt" content="${m.description}" />`
                  }
                } else if (audioTypes.includes(extension)) {
                  output += `<meta property="og:audio" content="${m.url}" />`
                  if (m.description) {
                    output += `<meta property="og:audio:alt" content="${m.description}" />`
                  }
                } else if (videoTypes.includes(extension)) {
                  output += `<meta property="og:video" content="${m.url}" />`
                  if (m.description) {
                    output += `<meta property="og:video:alt" content="${m.description}" />`
                  }
                }
              }
              return output;
            }).filter(m => m !== "").join("\n") : "",
          );

          modifiedContent = modifiedContent.replace(
            new RegExp("%%%description%%%", "g"),
            this.ogpExtra.description ? this.ogpExtra.description : "",
          );

          return modifiedContent;
        }
      },
      methods: {
        async getUploadedFiles () {
          this.uploadedFiles = (await axios.get('/api/upload', {params: {
            tmpTitle: this.tmpTitle,
            localUrl: this.localUrl,
          }})).data.files.sort();

          // update ogpData
          this.updateOgpMetadata();
        },
        updateOgpMetadata () {
          this.ogpExtra.mediaData = this.uploadedFiles.map((f, index) => {
            const foundMedia = this.ogpExtra.mediaData.find(m => m.url === f);
            return {
              embedMedia: foundMedia ? foundMedia.embedMedia : false,
              description: foundMedia ? foundMedia.description : "",
              url: f,
              order: foundMedia ? foundMedia.order : index
            }
          });
        },
        toggleRssOverride () {
          this.showRssOverride = !this.showRssOverride;
        },
        toggleOgpMetadata () {
          this.showOgpMetadata = !this.showOgpMetadata;
        },
        toggleGuiEditor() {
          this.showGuiEditor = !this.showGuiEditor;
          if (this.showGuiEditor) {
            this.guiSwitchButtonText = "Switch to raw HTML";
            if (this.editor) {
              return;
            }
            this.editor = SUNEDITOR.create('suneditor', {
              minWidth: "100%",
              height: "auto",
              katex: katex,
              buttonList: [
                ['undo', 'redo'],
                ['font', 'fontSize', 'formatBlock'],
                ['paragraphStyle', 'blockquote'],
                ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
                ['fontColor', 'hiliteColor', 'textStyle'],
                ['removeFormat'],
                ['outdent', 'indent'],
                ['align', 'horizontalRule', 'list', 'lineHeight'],
                ['table', 'link', 'image', 'math', 'video', 'audio'],
                ['fullScreen', 'showBlocks', 'codeView'],
              ]
            });
            this.editor.onChange = (event, core) => { 
              // detect the span class "katex-html" if it exists and remove it as its unnecessary
              const parsedHtml = new DOMParser().parseFromString(event, "text/html");
              // cut through the html, body definitions automatically applied by DOMParser
              const parsedTargetHtml = parsedHtml.childNodes[0].childNodes[1]
              const searchKatexHtml = parsedTargetHtml.getElementsByClassName("katex-html");
              if (searchKatexHtml.length > 0) {
                for (let i = searchKatexHtml.length - 1; i >= 0; i--) {
                  const removeMe = searchKatexHtml[i];
                  removeMe.parentNode.removeChild(removeMe);
                }
              }
              // save the changes for when the code view is shown
              this.temporaryCleanedHtml = parsedTargetHtml.innerHTML;
            }
            this.editor.toggleCodeView = (isCodeView, core) => {
              document.getElementsByClassName("se-wrapper-code")[0].value = this.temporaryCleanedHtml
            }
          } else {
            this.guiSwitchButtonText = "Switch to SunEditor";
          }
        },
        async sanitizeHtml () {
          if (!this.showRssOverride) {
            this.rssInput = this.htmlInput;
          }
          const output = await axios.post("/api/sanitize", {
            html: this.rssInput
          });
          // apply layout

          this.htmlOutput = output.data;
        },
        addTag () {
          if (this.tag.length === 0) return;
          if (this.tags.includes(this.tag)) return;
          this.tags.push(this.tag.trim().toLowerCase());
          this.tag = "";
        },
        removeTag (index) {
          this.tags.splice(index, 1);
        },
        insertEmbedFromFile (fileName) {
          // smartly create different elements depending on the file type submitted
          let imageTypes = util.imageTypes();
          let audioTypes = util.audioTypes();
          let videoTypes = util.videoTypes();
          const extension = fileName.split(".").reverse()[0].toLowerCase();
          const imgInjection = `\n<img src="${fileName}"></img>`;
          const audioInjection = `\n<audio controls>
<source src="${fileName}">
</audio>`;
          const videoInjection = `\n<video controls>
<source src="${fileName}" type="video/${extension}">
</video>`;
          const linkInjection = `\n<a href="${fileName}">${fileName.split("/").reverse()[0]}</a>`;

          if (imageTypes.includes(extension)) {
            this.htmlInput += imgInjection;
          } else if (audioTypes.includes(extension)) {
            this.htmlInput += audioInjection;
          } else if (videoTypes.includes(extension)) {
            this.htmlInput += videoInjection;
          } else {
            this.htmlInput += linkInjection // default to using a link
          }
          this.sanitizeHtml();
        },
        async filesSubmitted (event) {
          const formData = new FormData();
          formData.append('folder', this.tmpTitle)
          const contentTypes = [];
          for (let i = 0; i < event.target.files.length; i++) {
            const file = event.target.files[i];
            contentTypes.push(file.type);
            formData.append('myFile', file)
            this.uploadsInProgress.add(file.name);
          }

          const results = await axios.post('/api/upload', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            }
          });
          this.getUploadedFiles();

          for (let file of results.data.files) {
            this.uploadsInProgress.delete(file.split("/")[file.split("/").length - 1]);
            this.insertEmbedFromFile(file);
          }
          this.sanitizeHtml();
        },
        async deleteUpload (fileName) {
          await axios.delete('/api/upload', {data: {
            fileName: fileName
          }});
          this.getUploadedFiles();
        },
        async submitPost () {
          if (this.performAction) {
            return;
          }
          this.performAction = true;
          let postObj = this.createPostObj();

          try {
            if (this.localUrl && !this.localUrl.startsWith("/tmp/")) { // edit an existing post if published
              await axios.put("/api/post", postObj);
            } else { // publish if it's a draft or has no saved local URL
              await axios.post("/api/post", postObj);
            }

            window.location.href = '/'; // only take to main page if upload is successful
          } catch (err) {
            alert(err);
            console.error(err);
            this.performAction = false;
          }
        },
        async saveDraft () {
          if (this.performAction) {
            return;
          }
          this.performAction = true;
          let postObj = this.createPostObj();

          try {
            await axios.post("/api/post/draft", postObj);
            window.location.href = '/'; // only take to main page if upload is successful
          } catch (err) {
            alert(err);
            console.error(err);
            this.performAction = false;
          }
        },
        async discardPost () {
          if (this.performAction) {
            return;
          }
          this.performAction = true;

          let postObj = this.createPostObj();

          if (this.localUrl && this.localUrl.startsWith('/tmp/')) { 
            // don't allow deleting drafts from this page
          } else {
            try {
              await axios.delete("/api/post/discard", {
                data: {
                  post: postObj
                }
              });
            } catch (err) {
              console.error(err);
              this.performAction = false;
            }
          }
          window.location.href = '/'; // take back to main page when finished
        },
        createPostObj () {
          return {
            htmlContent: this.htmlInput,
            // sanitizing the html input can change its typing out of string. apparently
            rssContent: "" + this.htmlOutput,
            title: this.title,
            tmpTitle: this.tmpTitle,
            replyFeedUrl: this.replyFeedUrl,
            replyPostIdUrl: this.replyPostIdUrl,
            tags: this.tags,
            localUrl: this.localUrl, // for editing a post
            published: this.published,
            ogpExtra: this.ogpExtra
          }
        },
        chooseTag (event) {
          this.tag = event.target.value;
        },
        debounce (func, timeout = 500){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
          };
        },
        async embedReply () {
          if (this.isRunningEmbedReply) {
            return;
          }
          this.isRunningEmbedReply = true;

          try {
            if (!this.currentReplyFeedUrl || !this.currentReplyPostIdUrl) {
              this.currentReplyFeedUrl = this.replyFeedUrl;
              this.currentReplyPostIdUrl = this.replyPostIdUrl;
            }
            if (!this.currentReplyFeedUrl || !this.currentReplyPostIdUrl) {
              return;
            }

            const repliedToPost = await this.loadReplyTo(this.currentReplyFeedUrl, this.currentReplyPostIdUrl);
            if (repliedToPost && repliedToPost.entry) {
              // render the RSS post contents and insert them into the site's HTML
              // this must not show up in the RSS feed. only show it on the site!
              this.showRssOverride = true;
              this.htmlInput += `\n<hr><a href="${repliedToPost.entry.id}">Original post</a>\n<div style="margin-left:20px">\n${repliedToPost.entry.content}\n</div>`;

              // got a valid post. check if there's another parent post attached and allow the ability to render THAT parent post too
              const {parsedFeed, originalLink} = await util.extractFeedLinks(repliedToPost.entry);
              
              if (parsedFeed !== null && originalLink !== null) {
                this.currentReplyFeedUrl = parsedFeed.url;
                this.currentReplyPostIdUrl = originalLink;
              } else {
                this.currentReplyFeedUrl = null;
                this.currentReplyPostIdUrl = null;
                this.showEmbedButton = false;
              }
            } else {
              alert("Unable to locate replied to post.");
              this.currentReplyFeedUrl = null;
              this.currentReplyPostIdUrl = null;
              this.showEmbedButton = false;
            }
          } catch (err) {
            console.error(err);
          }

          this.isRunningEmbedReply = false;
        },
        async loadReplyTo(replyFeedUrl, replyPostIdUrl) {
          if (!replyFeedUrl) {
            return;
          }
          // extract the link information from the feed url, determine if the links are valid, and if so get the feed information from the links
          let parsedFeed = null;

          const result = await axios.post("/api/query/feed", {
            url: replyFeedUrl,
          });

          const maybeParsed = (await util.parseFeeds(result.data.feed))[0];
          // successful parse indicates it's a proper feed link
          if (maybeParsed.success) {
            parsedFeed = maybeParsed;
          }

          if (parsedFeed === null) {
            console.error("Failed to parse the provided feed.");
            return;
          }

          // find the ID defined by the url of the original post
          const originalPost = await util.findTargetPost(parsedFeed, replyPostIdUrl);
          if (originalPost === null) {
            // failed to render the reply
            console.error("Failed to parse the provided feed.");
            return;
          }

          return originalPost;
        }
      }
    }).mount('#app');

  </script>

  <style>
    body {
      margin: 0px;
    }

    #bg {
      background: var(--color-primary-dark);
    }

    .textarea { 
      resize: vertical; 
    }

    .iframe {
      height: 600px;
    }

    #file-upload {
      display: none;
    }   

    /* media queries + changing layout of HTML based on screen size */

    @media only screen and (max-width: 600px) {
      .button-action-group {
        flex-direction: column;
      }
      .tag-form {
        flex-direction: column;
      }
      .used-tags-form {
        margin-top: 8px;
      }
      .button-spacing {
        margin-top: 8px;
      }
    }

  </style>
</html>
